<template>
  <q-page class>
    <div class="q-pa-lg">
      <div class="row">
        <div class="col-5">
          <div>
            <Menu></Menu>
          </div>

          <div class="row">
            <div class="col-12">
              <q-btn-toggle
                v-model="togglestack"
                class="stack"
                no-caps
                rounded
                unelevated
                toggle-color="primary"
                color="white"
                text-color="primary"
                :options="[{ label: 'BB', value: 'bb' }, { label: '$', value: 'dollar' }]"
              />
              <q-btn class="practise" outline rounded>Practise</q-btn>
              <div class="table-browser-wrapper browser">
                <div class="pot-area-wrapper">
                  <div class="full-width row wrap justify-center items-center">
                    <div class="pot-size">
                      Pot
                      <strong>{{ potSize }} {{ potFormat }}</strong>
                    </div>
                  </div>
                </div>
                <img class="table-browser" src="statics/browser/Table-Browser.svg" />
                <PokerPlayer
                  v-for="(player, index) in game.allPlayers"
                  :key="index + ':' + player.idx"
                  :player="player"
                />
              </div>
            </div>
          </div>
          <div class="row justify-end">
            <div class="col-1 q-gutter-xs">
              <q-btn
                :disabled="!backButtonVisible"
                rounded
                no-caps
                color="primary"
                class="button-back"
                icon="navigate_before"
                @click="setPreviousPosition()"
              />
            </div>
            <div class="col-11 q-gutter-xs action-buttons">
              <q-btn
                v-show="buttonFoldVisible"
                class="button-browser"
                :label="foldButton.label"
                size="md"
                rounded
                @click="setNextPosition('F')"
              />
              <q-btn
                v-show="buttonCallVisible"
                class="button-browser"
                :label="callButton.label + ' to ' + betToCall"
                size="md"
                rounded
                @click="setNextPosition('C')"
              />
              <q-btn
                v-show="buttonRaise50Visible"
                class="button-browser"
                :label="raise50Button.label + ' to ' + betToRaise50"
                size="md"
                rounded
                @click="setNextPosition('R50')"
              />
              <q-btn
                v-show="buttonRaise100Visible"
                class="button-browser"
                :label="raise100Button.label + ' to ' + betToRaise100"
                size="md"
                rounded
                @click="setNextPosition('R100')"
              />
              <q-btn
                v-show="buttonAllInVisible"
                class="button-browser"
                :label="allinButton.label"
                size="md"
                rounded
                @click="setNextPosition('A')"
              />
            </div>
          </div>
          <!-- BrowserSituations here, actually hidden -->
          <BrowserSettings class="browser-settings" @settingsChanged="browserSettingsChanged" />
        </div>
        <div class="col-1"></div>
        <div class="col-6 justify-center">
          <browser-search
            :categorylistdisable="categoryListDisable"
            :searchinputdisable="searchInputDisable"
            @searchChanged="searchInputChanged"
            @categorySelected="categoryListShowed"
            @stateChanged="searchStateChanged"
          ></browser-search>
          <q-input
            v-if="false"
            v-model="browserSearch"
            rounded
            outlined
            :dense="dense"
            class="browser-search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <div class="q-pa-md">
            <q-checkbox v-model="showZeroRows" label="Show 0 rows" @input="showZeroRowsChanged()" />
          </div>
          <browser-grid @load-more="getMore()"></browser-grid>
          <div v-if="false" class="grid-wrapper-2">
            <div class="q-pa-md grid-wrapper scroll-y">
              <q-infinite-scroll :offset="550" @load="onGridBottom">
                <q-table
                  :columns="browsercolumns"
                  :data="browserdata"
                  :visible-columns="visiblecolumns"
                  :pagination="{ rowsPerPage: 10, rowsNumber: 200 }"
                  row-key="id"
                  hide-bottom
                  :class="gridClass"
                >
                  <!-- header decoration -->
                  <template v-slot:header-cell="props">
                    <q-th :props="props" :class="props.col.classes">
                      {{ props.col.label }}
                      <small
                        v-show="true || !isSearchSet"
                      >{{ props.col.percent }}</small>
                    </q-th>
                  </template>
                  <!-- cols with card decoration -->
                  <template v-slot:body-cell-fold_name="props">
                    <q-td>
                      <CardBadge
                        v-for="(hand, index) in splitHands(props.row.fold_name)"
                        :key="hand + '-fold' + index"
                        :cardsuit="hand"
                      ></CardBadge>
                    </q-td>
                  </template>
                  <template v-slot:body-cell-call_name="props">
                    <q-td>
                      <CardBadge
                        v-for="(hand, index) in splitHands(props.row.call_name)"
                        :key="hand + '-call' + index"
                        :cardsuit="hand"
                      ></CardBadge>
                    </q-td>
                  </template>
                  <template v-slot:body-cell-raise_name="props">
                    <q-td>
                      <CardBadge
                        v-for="(hand, index) in splitHands(props.row.raise_name)"
                        :key="hand + '-raise' + index"
                        :cardsuit="hand"
                      ></CardBadge>
                    </q-td>
                  </template>
                  <template v-slot:body-cell-raise2_name="props">
                    <q-td>
                      <CardBadge
                        v-for="(hand, index) in splitHands(props.row.raise2_name)"
                        :key="hand + '-raise2' + index"
                        :cardsuit="hand"
                      ></CardBadge>
                    </q-td>
                  </template>
                  <template v-slot:body-cell-allin_name="props">
                    <q-td>
                      <CardBadge
                        v-for="(hand, index) in splitHands(props.row.allin_name)"
                        :key="hand + '-allin' + index"
                        :cardsuit="hand"
                      ></CardBadge>
                    </q-td>
                  </template>
                </q-table>

                <template v-slot:loading>
                  <div class="row justify-center q-my-md">
                    <q-spinner-dots color="primary" size="40px" />
                  </div>
                </template>
              </q-infinite-scroll>
            </div>
            <div v-show="isGridLoading" class="grid-loading"></div>
          </div>
        </div>
      </div>
      <q-ajax-bar ref="bar" position="bottom" color="primary" size="10px" skip-hijack />
    </div>
  </q-page>
</template>

<script>
import TableGroup from '@cmp/groups/table'
import CardBadge from '@cmp/CardBadge'
import PokerPlayer from '@cmp/PokerPlayer'
import BrowserSearch from '@cmp/BrowserSearch'
import BrowserSettings from '@cmp/BrowserSettings'
import BrowserGrid from '@cmp/BrowserGrid'
import Menu from '@cmp/Menu'
import { pokerGame } from '@cmp/mixins/pokerEngine'
import BrowserMixins from '@cmp/mixins/browser'
const _ = require('lodash')

import { mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'Browser',
  components: {
    ...TableGroup,
    CardBadge,
    PokerPlayer,
    BrowserSearch,
    BrowserGrid,
    BrowserSettings,
    Menu
  },
  mixins: [BrowserMixins],
  data() {
    return {
      data: [],
      game: null,
      togglestack: 'bb',
      dense: false,
      browserSearch: '',
      browserPosSecvention: [],
      showZeroRows: false,
      isGridVisible: true,
      searchInputDisable: false,
      categoryListDisable: false,
      testItems: [{}, {}, {}, {}, {}, {}, {}, {}],
      pagination: {
        currentHands: {
          fold: 0,
          call: 0,
          raise50: 0,
          raise100: 0,
          allin: 0
        },
        page: 0,
        situationId: 0,
        endReached: 0
      },
      searchParams: {},
      isGridLoading: false
    }
  },
  computed: {
    ...mapState('main', [
      'position',
      'browsercolumns',
      'browserdata',
      'browserdatadefault',
      'visiblecolumns',
      'currentHand',
      'totalHands',
      'pokerPlayers',
      'currentHand',
      'gameScenario',
      'swVer'
    ]),
    ...mapGetters('main', [
      'browserCols',
      'browserSettings',
      'visibleCols',
      'pokerHands',
      'browserData',
      'chipValues',
      'getBrowserButtonById',
      'getActivePlayer',
      'getActivePlayerIndex',
      'stackFormat',
      'stack',
      'browserProfile',
      'getSearchParams'
    ]),
    ...mapGetters('browserGrid', [
      'buttonFoldVisible',
      'buttonCallVisible',
      'buttonRaise50Visible',
      'buttonRaise100Visible',
      'buttonAllInVisible'
    ]),
    ploStackCoef: function() {
      return parseInt(this.browserProfile.match(/\d+/g).join([]))
    },
    betToCall: function() {
      let bet = this.game.betToCall()
      return this.stackFormat == 'dollar' ? (bet * this.ploStackCoef) / 100 + ' $' : bet + ' BB'
    },
    betToRaise50: function() {
      let bet = this.game.betToRaise50()
      return this.stackFormat == 'dollar' ? (bet * this.ploStackCoef) / 100 + ' $' : bet + ' BB'
    },
    betToRaise100: function() {
      let bet = this.game.betToRaise100()
      return this.stackFormat == 'dollar' ? (bet * this.ploStackCoef) / 100 + ' $' : bet + ' BB'
    },
    potSize: function() {
      if (this.browserProfile !== null) {
        return this.stackFormat == 'dollar'
          ? (this.game.potSize * this.ploStackCoef) / 100
          : this.game.potSize
      } else {
        return 0
      }
    },
    potFormat: function() {
      return this.stackFormat == 'bb' ? 'BB' : '$'
    },
    gridClass: function() {
      return {
        'browser-table': true,
        inactive: !this.isGridVisible
      }
    },
    foldButton() {
      return this.getBrowserButtonById('fold')
    },
    callButton() {
      return this.getBrowserButtonById('call')
    },
    raise50Button() {
      return this.getBrowserButtonById('raise50')
    },
    raise100Button() {
      return this.getBrowserButtonById('raise100')
    },
    allinButton() {
      return this.getBrowserButtonById('allin')
    },
    backButton() {
      return this.getBrowserButtonById('back')
    },
    isSearchSet() {
      let s = this.searchParams
      return s.rawhand || s.category || s.ds != null || s.ss != null
    },
    backButtonVisible() {
      return this.game.gameStory.length > 0
    }
  },
  watch: {
    gameScenario(newValue, oldValue) {
      console.log(`Updating from ${oldValue} to ${newValue}`)
    },
    togglestack(newValue) {
      this.$store.commit('main/SET_STACK_FORMAT', newValue)
    }
  },
  created: function() {
    this.game = new pokerGame()
    this.game.initBrowserGame(this.browserSettings)
    this.browserInit()
    this.$q.loadingBar.setDefaults({
      color: 'primary',
      size: '15px',
      position: 'bottom'
    })
  },
  methods: {
    ...mapMutations('main', [
      'SET_BROWSERDATA',
      'ACTIVATE_PLAYER',
      'INC_HANDSTEP',
      'SET_BROWSER',
      'SET_GRIDFOLDLABEL',
      'SET_GRIDCALLLABEL',
      'SET_GRIDRAISELABEL',
      'SET_GRIDALLINLABEL',
      'SET_ACTIVE_PLAYER',
      'SET_FOLDED_PLAYER',
      'SET_STACK_FORMAT',
      'addStory',
      'setSituationKey',
      'setBrowserSettings'
    ]),
    searchInputChanged(searchParams) {
      this.isGridVisible = searchParams.grid
      this.setBrowserSettings({
        selectCategory: searchParams.category,
        searchInDs: searchParams.ds,
        searchInDd: searchParams.dd,
        searchInRr: searchParams.rr
      })
      this.getSituations(searchParams)
    },
    searchStateChanged(newState) {
      this.setBrowserSettings({
        searchState: newState
      })
    },
    browserSettingsChanged() {
      // search params su v data()
      // ostatne su v store
      this.game.initBrowserGame(this.browserSettings)
      this.getSituations()
      this.togglestack = 'bb'
    },
    categoryListShowed(showGrid) {
      this.isGridVisible = !showGrid
    },
    onGridBottom(index, done) {
      this.getMore(done)
    },
    setGridLabel(id, value, percent = 0) {
      this.$store.commit('main/SET_GRID' + id.toUpperCase() + 'LABEL', {
        label: value,
        percent: percent
      })
    },
    setBrowserData: function(dataSource) {
      this.$store.commit('main/SET_BROWSERDATA', dataSource)
    },
    setBrowser: function(data) {
      this.$store.commit('main/SET_BROWSER', data)
    },
    setBrowserMore: function(data) {
      this.$store.commit('browserGrid/setResultsMore', data)
      return true
    },
    setBrowserMoreOld: function(data) {
      let maxRows = 0
      let row = []
      let keys = { fold: null, call: null, raise: null, allin: null }
      for (let i in data) {
        let type = data[i].data
        if (typeof type === 'undefined' || typeof type[0] === 'undefined') {
          continue
        }
        if (type[0].action == 'FOLD') keys.fold = i
        if (type[0].action == 'CALL') keys.call = i
        if (type[0].action == 'RAISE50') keys.raise = i
        else if (type[0].action == 'RAISE100') keys.raise = i
        if (type[0].action == 'ALLIN') keys.allin = i
        maxRows = Math.max(maxRows, type.length)
      }
      if (!maxRows) {
        this.pagination.endReached = 1
      }
      for (let i = 0; i < maxRows; i++) {
        row.push({
          id: this.pagination.page - 20 + i,
          fold_name:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].hand
              : '',
          fold_frekv:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].weight
              : '',
          fold_ev:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? (data[keys.fold].data[i].ev / 2000).toFixed(1)
              : '',
          fold_comb:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].combinations
              : '',
          call_name:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].hand
              : '',
          call_frekv:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].weight
              : '',
          call_ev:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? (data[keys.call].data[i].ev / 2000).toFixed(1)
              : '',
          call_comb:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].combinations
              : '',
          raise_name:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].hand
              : '',
          raise_frekv:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].weight
              : '',
          raise_ev:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? (data[keys.raise].data[i].ev / 2000).toFixed(1)
              : '',
          raise_comb:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].combinations
              : '',
          allin_name:
            keys.allin != null &&
            typeof data[keys.allin].data !== 'undefined' &&
            typeof data[keys.allin].data[i] !== 'undefined'
              ? data[keys.allin].data[i].hand
              : '',
          allin_frekv:
            keys.allin != null &&
            typeof data[keys.allin].data !== 'undefined' &&
            typeof data[keys.allin].data[i] !== 'undefined'
              ? data[keys.allin].data[i].weight
              : '',
          allin_ev:
            keys.allin != null &&
            typeof data[keys.allin].data !== 'undefined' &&
            typeof data[keys.allin].data[i] !== 'undefined'
              ? (data[keys.allin].data[i].ev / 2000).toFixed(1)
              : '',
          allin_comb:
            keys.allin != null &&
            typeof data[keys.allin].data !== 'undefined' &&
            typeof data[keys.allin].data[i] !== 'undefined'
              ? data[keys.allin].data[i].combinations
              : ''
        })
      }

      this.$store.commit('main/SET_BROWSER_MORE', row)
      return true
    },
    resetCurrentHands() {
      this.pagination.currentHands.fold = 1
      this.pagination.currentHands.call = 1
      this.pagination.currentHands.raise50 = 1
      this.pagination.currentHands.raise100 = 1
      this.pagination.currentHands.allin = 1
    },
    showZeroRowsChanged() {
      this.getSituations(this.searchParams)
    },
    getMore() {
      let that = this
      setTimeout(function() {
        if (!that.pagination.page || that.pagination.endReached) {
          setTimeout(function() {
            // TODO: success()
          }, 1000)
          return false
        }
        let bs = that.$store.state.main.browserSettings
        let situationKey = that.$store.state.main.gameScenario.situationKey
        let conditions = Object.assign(
          {
            preflop_code: situationKey,
            players_cnt: bs.numberOfPlayers,
            profile: bs.profile,
            stack: bs.stack,
            showZeroRows: that.showZeroRows,
            page: that.pagination.page,
            currentHands: that.pagination.currentHands,
            situationId: that.pagination.situationId
          },
          that.searchParams
        )
        let promise = that.$store.dispatch('situations', conditions)
        promise.then(function(result) {
          that.pagination.page += 20
          // TODO: if (that.setBrowserMore(result)) success()
          that.setBrowserMore(result)
        })
      }, 100)
    },
    getMoreOld(success) {
      let that = this
      setTimeout(function() {
        if (!that.pagination.page || that.pagination.endReached) {
          setTimeout(function() {
            success()
          }, 1000)
          return false
        }
        let bs = that.$store.state.main.browserSettings
        let situationKey = that.$store.state.main.gameScenario.situationKey
        let conditions = Object.assign(
          {
            preflop_code: situationKey,
            players_cnt: bs.numberOfPlayers,
            profile: bs.profile,
            stack: bs.stack,
            showZeroRows: that.showZeroRows,
            page: that.pagination.page,
            currentHands: that.pagination.currentHands,
            situationId: that.pagination.situationId
          },
          that.searchParams
        )
        let promise = that.$store.dispatch('situations', conditions)
        promise.then(function(result) {
          that.pagination.page += 20
          if (that.setBrowserMore(result)) success()
        })
      }, 100)
    },
    getSituations: function(params) {
      this.isGridLoading = true
      if (typeof params === 'undefined') params = {}
      else this.searchParams = params
      this.resetCurrentHands()

      let bs = this.$store.state.main.browserSettings
      let situationKey = this.$store.state.main.gameScenario.situationKey

      let conditions = Object.assign(
        {
          preflop_code: situationKey,
          players_cnt: bs.numberOfPlayers,
          profile: bs.profile,
          stack: bs.stack,
          showZeroRows: this.showZeroRows
        },
        this.searchParams
      )

      let p = this
      p.pagination.page = 0

      this.getBrowserButtonById('fold').visible = false
      this.getBrowserButtonById('call').visible = false
      this.getBrowserButtonById('raise50').visible = false
      this.getBrowserButtonById('raise100').visible = false
      this.getBrowserButtonById('allin').visible = false

      if (situationKey === '' || situationKey === '-') {
        this.getBrowserButtonById('back').visible = false
      } else {
        this.getBrowserButtonById('back').visible = true
      }
      let promise = this.$store.dispatch('situations', conditions)
      promise.then(function(result) {
        p.pagination.situationId = result[0]
        p.pagination.page = 20
        p.pagination.endReached = 0
        p.isGridLoading = false
        p.$store.commit('browserGrid/setResults', result)
        // p.enableActionButtons()
        p.getMore()
      })
    },
    getSituationsOld: function(params) {
      this.isGridLoading = true
      // this.$q.loadingBar.stop()
      // this.$q.loadingBar.start()
      if (typeof params === 'undefined') params = {}
      else this.searchParams = params
      this.resetCurrentHands()

      let bs = this.$store.state.main.browserSettings
      let situationKey = this.$store.state.main.gameScenario.situationKey

      let conditions = Object.assign(
        {
          preflop_code: situationKey,
          players_cnt: bs.numberOfPlayers,
          profile: bs.profile,
          stack: bs.stack,
          showZeroRows: this.showZeroRows
        },
        this.searchParams
      )
      let promise = this.$store.dispatch('situations', conditions)

      let p = this
      p.pagination.page = 0
      let dataSource = []
      this.getBrowserButtonById('fold').visible = false
      this.getBrowserButtonById('call').visible = false
      this.getBrowserButtonById('raise50').visible = false
      this.getBrowserButtonById('raise100').visible = false
      this.getBrowserButtonById('allin').visible = false
      if (situationKey === '' || situationKey === '-') {
        this.getBrowserButtonById('back').visible = false
      } else {
        this.getBrowserButtonById('back').visible = true
      }

      let vCols = []
      let button = 0
      let enableButtons = []
      p.setBrowser({ dataSource, vCols })
      promise.then(function(result) {
        let li = 1
        if (result[0] == 0) {
          console.log(situationKey + ' No data !')
        }
        p.pagination.situationId = result[0]
        p.pagination.page = 20
        p.pagination.endReached = 0
        p.isGridLoading = false
        for (let action of result[1]) {
          if (action.action.action == 'FOLD') {
            p.pagination.currentHands.fold = 1
            vCols.push('fold_name', 'fold_frekv', 'fold_ev', 'fold_comb')
            button = p.getBrowserButtonById('fold')
            button.label = 'Fold'
            button.visible = true
            enableButtons.push('fold')
            let perc = result[2]['FOLD']
            if (_.has(action, 'additional.percentage')) perc = action.additional.percentage * 100
            p.setGridLabel('fold', 'Fold', perc)
          } else if (action.action.action == 'CALL') {
            p.pagination.currentHands.call = 1
            vCols.push('call_name', 'call_frekv', 'call_ev', 'call_comb')
            p.getBrowserButtonById('call').visible = true
            p.getBrowserButtonById('call').label = 'Call'
            let perc = result[2]['CALL']
            if (_.has(action, 'additional.percentage')) perc = action.additional.percentage * 100
            p.setGridLabel('call', 'Call', perc)
            enableButtons.push('call')
          } else if (action.action.action == 'R50') {
            p.pagination.currentHands.raise50 = 1
            vCols.push('raise_name', 'raise_frekv', 'raise_ev', 'raise_comb')
            p.getBrowserButtonById('raise50').visible = true
            p.getBrowserButtonById('raise50').label = 'Raise 50%'
            let perc = result[2]['R50']
            if (_.has(action, 'additional.percentage')) perc = action.additional.percentage * 100
            p.setGridLabel('raise', 'Raise50', perc)
            enableButtons.push('raise50')
          } else if (action.action.action == 'RAISE100') {
            p.pagination.currentHands.raise100 = 1
            vCols.push('raise_name', 'raise_frekv', 'raise_ev', 'raise_comb')
            p.getBrowserButtonById('raise100').visible = true
            p.getBrowserButtonById('raise100').label = 'Raise 100%'
            let perc = result[2]['RAISE100']
            if (_.has(action, 'additional.percentage')) perc = action.additional.percentage * 100
            p.setGridLabel('raise', 'Raise100', perc)
            enableButtons.push('raise100')
          } else if (action.action.action == 'ALLIN') {
            p.pagination.currentHands.allin = 1
            vCols.push('allin_name', 'allin_frekv', 'allin_ev', 'allin_comb')
            p.getBrowserButtonById('allin').visible = true
            p.getBrowserButtonById('allin').label = 'Allin'
            let perc = result[2]['ALLIN']
            if (_.has(action, 'additional.percentage')) perc = action.additional.percentage * 100
            p.setGridLabel('allin', 'Allin', perc)
            enableButtons.push('allin')
          }

          dataSource = p.addWay(action, li, dataSource)
          li++
        }
        // p.$q.loadingBar.stop()
        p.setBrowser({ dataSource, vCols })
        p.enableActionButtons(enableButtons)
      })
    },
    addWay: function(ipAction, ipIndex, ipDatasource) {
      let dataSource = ipDatasource
      ipAction.data.forEach((entry, index) => {
        let hand = entry.hand
        let newHand = hand

        let newWeight = entry.weight
        let newEv = (entry.ev / 2000).toFixed(1)
        //let newEv = entry.ev.toFixed(1)
        let newComb = entry.combinations.toFixed(1)

        if (dataSource.length - 1 < index) {
          dataSource.push({
            id: index,
            fold_name: '',
            fold_frekv: '',
            fold_ev: '',
            fold_comb: '',
            call_name: '',
            call_frekv: '',
            call_ev: '',
            call_comb: '',
            raise_name: '',
            raise_frekv: '',
            raise_ev: '',
            raise_comb: '',
            allin_name: '',
            allin_frekv: '',
            allin_ev: '',
            allin_comb: ''
          })
        }

        let row = dataSource[index]
        row.id = index
        if (ipAction.action.action == 'FOLD') {
          row.fold_name = newHand.toString()
          row.fold_frekv = newWeight.toString()
          row.fold_ev = newEv.toString()
          row.fold_comb = newComb.toString()
        } else if (ipAction.action.action == 'CALL') {
          row.call_name = newHand.toString()
          row.call_frekv = newWeight.toString()
          row.call_ev = newEv.toString()
          row.call_comb = newComb.toString()
        } else if (ipAction.action.action == 'RAISE100') {
          row.raise_name = newHand.toString()
          row.raise_frekv = newWeight.toString()
          row.raise_ev = newEv.toString()
          row.raise_comb = newComb.toString()
        } else if (ipAction.action.action == 'ALLIN') {
          row.allin_name = newHand.toString()
          row.allin_frekv = newWeight.toString()
          row.allin_ev = newEv.toString()
          row.allin_comb = newComb.toString()
        }
      })

      return dataSource
    },
    setPreviousPosition: function() {
      this.game.revertAction()
      this.getSituations()
    },
    setNextPosition: async function(action) {
      if (action == 'F') {
        this.game.actionFold()
      }
      if (action == 'R50') {
        this.game.actionRaise50()
      }
      if (action == 'R100') {
        this.game.actionRaise100()
      }
      if (action == 'C') {
        this.game.actionCall()
      }
      if (action == 'A') {
        this.game.actionAllin()
      }

      let situation = ''
      for (let elenent of this.$data.browserPosSecvention) {
        if (situation.length > 0) {
          situation += '-'
        }
        situation += elenent
      }
      if (situation === '' || situation === '-') {
        situation = '-'
      }

      this.$data.browserPosSecvention.push(action)
      this.$store.commit('main/setSituationKey', situation)
      this.getSituations()
    },
    checkSettings() {
      let bs = this.$store.state.main.browserSettings
      return _.isString(bs.profile) && _.isNumber(bs.numberOfPlayers) && _.isNumber(bs.stack)
    },
    redirectToSettings() {
      this.$router.push({ name: 'browserSettings' })
    },
    browserInit() {
      this.getSituations()
    }
  }
}
</script>

<style scope>
.browser-settings {
  position: absolute;
  bottom: 20px;
}
.grid-wrapper {
  height: 75vh;
}
.stack {
  float: left;
  border: 1px solid #027be3;
  margin-top: 20px;
}
.pot-area-wrapper {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.browser-table .q-table tbody td {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.table-browser-wrapper.browser {
  margin-top: 80px;
}
.browser .table-browser {
  margin: 6rem 4rem;
  margin-bottom: 0;
}
.browser-search {
  margin-left: auto;
  margin-right: auto;
}
.practise {
  color: #f00;
  float: right;
  width: 200px;
  margin-top: 50px;
  margin-right: 30px;
  display: none;
}
.button-back {
  color: #0046ff;
  width: 60px;
}

.browser .player-wrapper-bc,
.browser .player-wrapper-br,
.browser .player-wrapper-bl,
.browser .player-wrapper-tl,
.browser .player-wrapper-tc,
.browser .player-wrapper-tr {
  position: absolute;
  width: 140px;
  height: 100px;
}

.browser .card-deck {
  width: 63px;
  height: 82px;
  box-shadow: -4px 2px 10px -3px rgb(174, 184, 214);
}

.browser .card-deck:not(:first-child) {
  margin-left: -45px;
}

.browser .card-deck:first-child {
  margin-left: 10px;
}
/*
.browser .card-deck:hover {
  transform: translateY(-20px);
}

.browser .card-deck:hover ~ .card-deck {
  left: 30px;
}*/

.browser .player-wrapper-bc {
  bottom: 30px;
}
.browser .player-wrapper-br {
  right: 20px;
  bottom: 88px;
}
.browser .player-wrapper-tr {
  top: 20px;
  right: 20px;
}
.browser .player-wrapper-tc {
  top: -30px;
}
.browser .player-wrapper-tl {
  left: 20px;
  top: 20px;
}
.browser .player-wrapper-bl {
  bottom: 88px;
  left: 20px;
}
.browser .player-status-strip {
  height: 25px;
}
.browser .player-name,
.browser .player-points {
  font-size: 14px;
}
small {
  font-size: 14px;
  display: block;
}
.text-center {
  text-align: center !important;
}
.q-table th.sortable {
  color: #8b9ca4;
}
.grid-wrapper-2 {
  position: relative;
}
.grid-loading {
  animation-name: grid-loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  height: 75vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
}
@keyframes grid-loading {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #bbb;
  }
  100% {
    background-color: #eee;
  }
}
.pot-size {
  color: #0046ff;
  width: 80px;
  position: absolute;
  z-index: 100;
  text-align: center;
  font-size: 14px;
  height: 24px;
  background-color: #d6e5ff;
  border-radius: 3px;
  line-height: 24px;
  top: 80px;
}
</style>
