<template>
  <q-page class>
    <div class="q-pa-md" style="width: 600px; height:400px; overflow:auto; background:#f00;">
      <q-table
        class="my-sticky-header-table"
        title="Treats"
        :data="rowsee"
        :columns="columns"
        :pagination="{ rowsPerPage: 10, rowsNumber: 200 }"
        hide-bottom
        flat
        bordered
      />
    </div>
    <infinite-table
      class="my-sticky-header-table"
      title="Treats"
      :data="rowsee"
      :columns="columns"
      :pagination="{ rowsPerPage: 10, rowsNumber: 200 }"
      hide-bottom
      flat
      bordered
    ></infinite-table>
  </q-page>
</template>

<script>
import InfiniteTable from '@cmp/InfiniteTable'
export default {
  name: 'Browser',
  components: { InfiniteTable },
  data() {
    return {
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Dessert (100g serving)',
          align: 'left',
          field: (row) => row.name,
          format: (val) => `${val}`,
          sortable: true
        },
        {
          name: 'calories',
          align: 'center',
          label: 'Calories',
          field: 'calories',
          sortable: true
        },
        { name: 'fat', label: 'Fat (g)', field: 'fat', sortable: true },
        { name: 'carbs', label: 'Carbs (g)', field: 'carbs', sortable: true },
        {
          name: 'protein',
          label: 'Protein (g)',
          field: 'protein',
          sortable: true
        },
        {
          name: 'sodium',
          label: 'Sodium (mg)',
          field: 'sodium',
          sortable: true
        },
        {
          name: 'calcium',
          label: 'Calcium (%)',
          field: 'calcium',
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: 'iron',
          label: 'Iron (%)',
          field: 'iron',
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ],
      data: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          sodium: 129,
          calcium: '8%',
          iron: '1%'
        },
        {
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          sodium: 337,
          calcium: '6%',
          iron: '7%'
        },
        {
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          sodium: 413,
          calcium: '3%',
          iron: '8%'
        },
        {
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          sodium: 327,
          calcium: '7%',
          iron: '16%'
        },
        {
          name: 'Jelly bean',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          sodium: 50,
          calcium: '0%',
          iron: '0%'
        },
        {
          name: 'Lollipop',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          sodium: 38,
          calcium: '0%',
          iron: '2%'
        },
        {
          name: 'Honeycomb',
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          sodium: 562,
          calcium: '0%',
          iron: '45%'
        },
        {
          name: 'Donut',
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          sodium: 326,
          calcium: '2%',
          iron: '22%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          sodium: 54,
          calcium: '12%',
          iron: '6%'
        }
      ]
    }
  },
  computed: {
    rowsee() {
      let r = []
      for (let i = 0; i < 10; i++) r = r.concat(this.data)
      return r
    }
  }
}
</script>

<style>
.q-table__middle {
  /* max-height: 250px; */
}
.q-table__top,
.q-table__bottom,
thead tr:first-child th {
  background-color: #c1f4cd;
}
thead tr th {
  position: sticky;
  z-index: 1;
}
thead tr:first-child th {
  top: 0;
}
.q-table--loading thead tr:last-child th {
  top: 48px;
}
</style>
