<template>
  <q-page class>
    <div class="q-pa-md">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <q-btn class="practise" outline rounded>Practise</q-btn>
              <div class="table-browser-wrapper browser">
                <div class="pot-area-wrapper">
                  <div class="full-width row wrap justify-center items-center">
                    <PokerChip
                      v-for="(chip, index) in onlyNonZeroChips"
                      :key="index"
                      chipsize="30"
                      :chipvalue="chip[1]"
                      :chipcount="chip[0]"
                    />
                  </div>
                </div>
                <img class="table-browser" src="statics/browser/Table-Browser.svg" />
                <PokerPlayer
                  v-for="(player, index) in gameScenario.players"
                  :key="index + ':' + player.idx"
                  :player="player"
                />
              </div>
            </div>
          </div>
          <div class="row justify-end">
            <div class="col-1 q-gutter-xs">
              <q-btn
                :disabled="!backButton.visible"
                rounded
                no-caps
                color="primary"
                class="button-back"
                :label="backButton.label"
                @click="setPreviousPosition()"
              />
            </div>
            <div class="col q-gutter-xs">
              <q-btn
                :disabled="!foldButton.visible"
                class="button-browser"
                :label="foldButton.label"
                size="md"
                rounded
                @click="setNextPosition('F')"
              />
            </div>
            <div class="col q-gutter-xs">
              <q-btn
                :disabled="!callButton.visible"
                class="button-browser"
                :label="callButton.label"
                size="md"
                rounded
                @click="setNextPosition('C')"
              />
            </div>
            <div class="col q-gutter-xs">
              <q-btn
                :disabled="!raise50Button.visible"
                class="button-browser"
                :label="raise50Button.label"
                size="md"
                rounded
                @click="setNextPosition('R50')"
              />
            </div>
            <div class="col q-gutter-xs">
              <q-btn
                :disabled="!raise100Button.visible"
                class="button-browser"
                :label="raise100Button.label"
                size="md"
                rounded
                @click="setNextPosition('R100')"
              />
            </div>
            <div class="col q-gutter-xs">
              <q-btn
                :disabled="!allinButton.visible"
                class="button-browser"
                :label="allinButton.label"
                size="md"
                rounded
                @click="setNextPosition('A')"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 justify-left q-pa-md">
              <q-input
                v-model="gameScenario.situationKey"
                outlined
                :dense="dense"
                class="browser-search"
                @keydown.enter.prevent="getSituations()"
              >
                <template v-slot:append></template>
              </q-input>
            </div>
          </div>
        </div>
        <div class="col-6 justify-center">
          <q-input v-model="browserSearch" rounded outlined :dense="dense" class="browser-search">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
          <div class="q-pa-md">
            <q-checkbox v-model="showZeroRows" label="Show 0 rows" @input="getSituations()"></q-checkbox>
          </div>

          <div class="q-pa-md grid-wrapper">
            <VirtualBrowserScroll3 />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import VirtualBrowserScroll3 from '../components/VirtualBrowserScroll3'
import PokerPlayer from '../components/PokerPlayer'
import PokerChip from '../components/PokerChip'
const _ = require('lodash')

import { mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'Browser',
  components: {
    VirtualBrowserScroll3,
    PokerPlayer,
    PokerChip
  },
  data() {
    return {
      data: [],
      dense: false,
      browserSearch: '',
      browserPosSecvention: [],
      showZeroRows: false,
      testItems: [{}, {}, {}, {}, {}, {}, {}, {}],
      pagination: {
        rowsPerPage: 0,
        currentHands: {
          fold: 0,
          call: 0,
          raise50: 0,
          raise100: 0
        },
        page: 0,
        situationId: 0,
        rowsNumber: 8000
      }
    }
  },
  computed: {
    ...mapState('main', [
      'position',
      'browsercolumns',
      'browserdata',
      'browserdatadefault',
      'visiblecolumns',
      'currentHand',
      'totalHands',
      'pokerPlayers',
      'currentHand',
      'gameScenario'
    ]),
    ...mapGetters('main', [
      'browserCols',
      'visibleCols',
      'pokerHands',
      'browserData',
      'potSize',
      'chipValues',
      'getBrowserButtonById',
      'getActivePlayer',
      'getActivePlayerIndex'
    ]),
    getChange: function() {
      let amount = this.potSize
      let chips = this.chipValues
      return chips.map((chip) => {
        let amountChip = Math.floor(amount / chip)
        amount -= amountChip * chip
        return [amountChip, chip]
      })
    },
    onlyNonZeroChips: function() {
      return this.getChange.filter(function(ch) {
        return ch[0]
      })
    },
    foldButton() {
      return this.getBrowserButtonById('fold')
    },
    callButton() {
      return this.getBrowserButtonById('call')
    },
    raise50Button() {
      return this.getBrowserButtonById('raise50')
    },
    raise100Button() {
      return this.getBrowserButtonById('raise100')
    },
    allinButton() {
      return this.getBrowserButtonById('allin')
    },
    backButton() {
      return this.getBrowserButtonById('back')
    }
  },
  watch: {
    gameScenario(newValue, oldValue) {
      console.log(`Updating from ${oldValue} to ${newValue}`)
    }
  },
  created: function() {
    if (!this.checkSettings()) {
      this.redirectToSettings()
    } else {
      this.browserInit()
    }
  },
  mounted() {},
  methods: {
    ...mapMutations('main', [
      'SET_BROWSERDATA',
      'ACTIVATE_PLAYER',
      'INC_HANDSTEP',
      'SET_BROWSER',
      'SET_GRIDFOLDLABEL',
      'SET_GRIDCALLLABEL',
      'SET_GRIDRAISELABEL',
      'SET_ACTIVE_PLAYER',
      'SET_FOLDED_PLAYER',
      'addStory',
      'setSituationKey'
    ]),
    onGridBottom(index, done) {
      this.getMore(done)
    },
    setGridLabel(id, value, percent = 0) {
      this.$store.commit('main/SET_GRID' + id.toUpperCase() + 'LABEL', {
        label: value,
        percent: percent
      })
    },
    activatePlayer: function(name) {
      this.$store.commit('main/SET_ACTIVE_PLAYER', name)
    },
    foldedPlayer: function() {
      this.$store.commit('main/SET_FOLDED_PLAYER')
    },
    setBrowser: function(data) {
      this.$store.commit('main/SET_BROWSER', data)
    },
    setPotSize: function(data) {
      this.$store.commit('main/SET_POTISZE', data)
    },
    resetCurrentHands() {
      this.pagination.currentHands.fold = 1
      this.pagination.currentHands.call = 1
      this.pagination.currentHands.raise50 = 1
      this.pagination.currentHands.raise100 = 1
    },
    getSituations: function() {
      console.log('getSituations called')
      this.resetCurrentHands()
      // this.$store.dispatch('situations')
      let bs = this.$store.state.main.browserSettings
      let situationKey = this.$store.state.main.gameScenario.situationKey
      let promise = this.$store.dispatch('situations', {
        preflop_code: situationKey,
        players_cnt: bs.numberOfPlayers,
        profile: bs.profile,
        stack: bs.stack,
        showZeroRows: this.showZeroRows
      })
      let p = this
      let dataSource = []
      this.getBrowserButtonById('fold').visible = false
      this.getBrowserButtonById('call').visible = false
      this.getBrowserButtonById('raise50').visible = false
      this.getBrowserButtonById('raise100').visible = false

      if (situationKey === '' || situationKey === '-') {
        this.getBrowserButtonById('back').visible = false
      } else {
        this.getBrowserButtonById('back').visible = true
      }

      let vCols = []
      let button = 0
      promise.then(function(result) {
        let li = 1
        if (result[0] == 0) {
          console.log(situationKey + ' No data !')
        }
        p.pagination.situationId = result[0]
        p.pagination.page = 20
        for (let action of result[1]) {
          if (action.action.action == 'FOLD') {
            p.pagination.currentHands.fold = 1
            vCols.push('fold_name', 'fold_frekv', 'fold_ev', 'fold_comb')
            button = p.getBrowserButtonById('fold')
            button.label = 'Fold'
            button.visible = true
            p.setGridLabel('fold', 'Fold', result[2]['FOLD'])
          } else if (action.action.action == 'CALL') {
            p.pagination.currentHands.call = 1
            vCols.push('call_name', 'call_frekv', 'call_ev', 'call_comb')
            p.getBrowserButtonById('call').visible = true
            p.getBrowserButtonById('call').label = 'Call'
            p.setGridLabel('call', 'Call', result[2]['CALL'])
          } else if (action.action.action == 'R50') {
            p.pagination.currentHands.raise50 = 1
            vCols.push('raise_name', 'raise_frekv', 'raise_ev', 'raise_comb')
            p.getBrowserButtonById('raise50').visible = true
            p.getBrowserButtonById('raise50').label = 'Raise50'
            p.setGridLabel('raise', 'Raise50', result[2]['R50'])
          } else if (action.action.action == 'RAISE100') {
            p.pagination.currentHands.raise100 = 1
            vCols.push('raise_name', 'raise_frekv', 'raise_ev', 'raise_comb')
            p.getBrowserButtonById('raise100').visible = true
            p.getBrowserButtonById('raise100').label = 'Raise100'
            p.setGridLabel('raise', 'Raise100', result[2]['RAISE100'])
          }

          dataSource = p.addWay(action, li, dataSource)
          li++
        }
      })
      this.setBrowser({ dataSource, vCols })
    },
    addWay: function(ipAction, ipIndex, ipDatasource) {
      let dataSource = ipDatasource
      ipAction.data.forEach((entry, index) => {
        let hand = entry.hand
        let newHand = hand

        let newWeight = entry.weight
        // let newEv = (entry.ev / 2000).toFixed(1)
        let newEv = entry.ev.toFixed(1)
        let newComb = entry.combinations.toFixed(1)

        if (dataSource.length - 1 < index) {
          dataSource.push({
            id: index,
            fold_name: '',
            fold_frekv: '',
            fold_ev: '',
            fold_comb: '',
            call_name: '',
            call_frekv: '',
            call_ev: '',
            call_comb: '',
            raise_name: '',
            raise_frekv: '',
            raise_ev: '',
            raise_comb: ''
          })
        }

        let row = dataSource[index]
        row.id = index
        if (ipAction.action.action == 'FOLD') {
          row.fold_name = newHand.toString()
          row.fold_frekv = newWeight.toString()
          row.fold_ev = newEv.toString()
          row.fold_comb = newComb.toString()
        } else if (ipAction.action.action == 'CALL') {
          row.call_name = newHand.toString()
          row.call_frekv = newWeight.toString()
          row.call_ev = newEv.toString()
          row.call_comb = newComb.toString()
        } else if (ipAction.action.action == 'RAISE100') {
          row.raise_name = newHand.toString()
          row.raise_frekv = newWeight.toString()
          row.raise_ev = newEv.toString()
          row.raise_comb = newComb.toString()
        }
      })

      return dataSource
    },
    setPreviousPosition: function() {
      this.$data.browserPosSecvention.pop()
      this.getSituations()
    },
    setPlayerProperty: function(position, property, value) {
      let players = this.$store.state.main.gameScenario.players
      players.map((player) => {
        // eslint-disable-next-line no-prototype-builtins
        if (player.position == position && player.hasOwnProperty(property)) {
          player[property] = value
          // changed bet property => also need to change player stack
          if (property == 'bet') {
            player.stack -= value
          }
        }
      })
    },
    setNextPosition: function(action) {
      let m = this.$store.state.main
      let playerIndex = 0
      if (action == 'F') {
        this.foldedPlayer()
      }
      // calculate bet for raise 100%
      if (action == 'R100') {
        let previousBet = this.getPreviousPlayerProperty('bet')
        let allBets = this.getPlayerBets()
        allBets -= previousBet
        allBets += 3 * previousBet
        let activePlayer = this.getActivePlayer
        this.setPlayerProperty(activePlayer.position, 'bet', allBets)
      }
      if (action == 'R50') {
        let previousBet = this.getPreviousPlayerProperty('bet')
        let allBets = this.getPlayerBets()
        allBets -= previousBet
        allBets += 3 * previousBet
        allBets /= 2 // ???????????
        let activePlayer = this.getActivePlayer
        this.setPlayerProperty(activePlayer.position, 'bet', allBets)
      }
      if (action == 'C') {
        let maxBet = this.getMaxBet()
        let activePlayer = this.getActivePlayer
        this.setPlayerProperty(activePlayer.position, 'bet', maxBet)
      }
      if (action == 'A') {
        let activePlayer = this.getActivePlayer
        let allIn = player.stack
        this.setPlayerProperty(activePlayer.position, 'bet', allIn)
      }
      playerIndex = this.getNewPlayerIndex(1)
      this.$data.browserPosSecvention.push(action)
      let player = m.gameScenario.players[playerIndex]
      this.$store.commit('main/addStory', action)
      this.activatePlayer(player.name)
      let situation = ''
      for (let elenent of this.$data.browserPosSecvention) {
        if (situation.length > 0) {
          situation += '-'
        }
        situation += elenent
      }
      if (situation === '' || situation === '-') {
        situation = '-'
      }
      this.$store.commit('main/setSituationKey', situation)
      this.getSituations()
    },
    getPlayerBets: function() {
      let players = this.$store.state.main.gameScenario.players
      let bets = 0
      players.map((player) => {
        if (!player.fold) {
          bets += player.bet
        }
      })
      return bets
    },
    getMaxBet: function() {
      let players = this.$store.state.main.gameScenario.players
      let maxBet = 0
      players.map((player) => {
        if (!player.fold && player.bet > maxBet) {
          maxBet = player.bet
        }
      })
      return maxBet
    },
    getPreviousPosition(currentPos, playersLength) {
      let positions = this.$store.state.main.playerPositions
      let previousPlayerIndex = 0
      let currentPosition = currentPos
      let currentPositionIndex = positions.indexOf(currentPosition)
      previousPlayerIndex =
        currentPositionIndex == 0
          ? playersLength - 1
          : currentPositionIndex == playersLength - 1
          ? 0
          : currentPositionIndex + 1
      return positions[previousPlayerIndex]
    },
    getPreviousPlayerProperty: function(property = 'bet') {
      let players = this.$store.state.main.gameScenario.players
      let previousPosition = ''
      players.map((player) => {
        if (player.active === true) {
          console.log('Active player position: ' + player.position)
          previousPosition = this.getPreviousPosition(player.position, players.length)
        }
      })
      while (previousPosition != '') {
        let playerObj = players.find((p) => p.position == previousPosition)
        if (playerObj.fold == true) {
          previousPosition = this.getPreviousPosition(playerObj.position, players.length)
          continue
        } else {
          // eslint-disable-next-line no-prototype-builtins
          if (playerObj.hasOwnProperty(property)) {
            console.log('Previous player position: ' + playerObj.position)
            return playerObj[property]
          } else {
            return false
          }
        }
      }
    },
    getNewPlayerIndex: function(vector) {
      let activeIndex = this.getActivePlayerIndex
      let players = this.$store.state.main.gameScenario.players
      let newIndex = -1
      let tmpIndex = activeIndex + -1 * vector // increment when decrement :)

      while (newIndex == -1 && tmpIndex != activeIndex) {
        tmpIndex = tmpIndex < 0 ? players.length - 1 : tmpIndex
        tmpIndex = tmpIndex >= players.length ? 0 : tmpIndex

        if (players[tmpIndex].fold) {
          tmpIndex = tmpIndex + -1 * vector
        } else {
          newIndex = tmpIndex
        }
      }
      return newIndex
    },
    checkSettings() {
      let bs = this.$store.state.main.browserSettings
      return _.isString(bs.profile) && _.isNumber(bs.numberOfPlayers) && _.isNumber(bs.stack)
    },
    redirectToSettings() {
      this.$router.push({ name: 'browserSettings' })
    },
    browserInit() {
      this.getSituations()
    }
  }
}
</script>

<style scope>
.grid-wrapper {
  height: 75vh;
}
.pot-area-wrapper {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.table-browser-wrapper.browser {
  margin-top: 80px;
}
.browser .table-browser {
  margin: 6rem 4rem;
  margin-bottom: 0;
}
.browser-search {
  margin-left: auto;
  margin-right: auto;
}
.practise {
  color: #f00;
  float: right;
  width: 200px;
  margin-top: 50px;
  margin-right: 30px;
}
.button-back {
  color: #0046ff;
  width: 60px;
}

.browser .player-wrapper-bc,
.browser .player-wrapper-br,
.browser .player-wrapper-bl,
.browser .player-wrapper-tl,
.browser .player-wrapper-tc,
.browser .player-wrapper-tr {
  position: absolute;
  width: 174px;
  height: 112px;
}

.browser .card-deck {
  width: 74px;
  height: 96px;
  box-shadow: -4px 2px 10px -3px rgb(174, 184, 214);
}

.browser .card-deck:not(:first-child) {
  margin-left: -45px;
}

.browser .card-deck:first-child {
  margin-left: 5px;
}

.browser .card-deck:hover {
  transform: translateY(-20px);
}

.browser .card-deck:hover ~ .card-deck {
  left: 30px;
}
.browser .player-wrapper-bc {
  bottom: 40px;
}
.browser .player-wrapper-br {
  right: 0px;
  bottom: 110px;
}
.browser .player-wrapper-tr {
  top: 60px;
  right: 0px;
}
.browser .player-wrapper-tc {
  top: -30px;
}
.browser .player-wrapper-tl {
  left: 0px;
  top: 60px;
}
.browser .player-wrapper-bl {
  bottom: 110px;
  left: 0px;
}
.browser .player-status-strip {
  height: 25px;
}
.browser .player-name,
.browser .player-points {
  font-size: 14px;
}
small {
  font-size: 14px;
  display: block;
}
.text-center {
  text-align: center !important;
}
.q-table th.sortable {
  color: #8b9ca4;
}
</style>
