<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row">
        <div class="col-6">
          <div>
            <Menu />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-center">
      <h1>Welcome!</h1>
    </div>
  </q-page>
</template>

<style></style>

<script>
import Menu from '@cmp/Menu'
export default {
  name: 'PageIndex',
  components: {
    Menu
  }
}
</script>
