<template>
  <q-page class="q-pa-md">
    <div class="row">
      <div class="col-6">
        <Menu></Menu>
      </div>
    </div>
    <h1>Settings</h1>
  </q-page>
</template>

<style></style>

<script>
import Menu from '@cmp/Menu'
export default {
  name: 'Settings',
  components: {
    Menu
  },
  data() {}
}
</script>
