<template>
  <q-page class="q-pa-md">
    <div class="row">
      <div class="col-6">
        <Menu></Menu>
      </div>
    </div>
    <h1>Stats</h1>
  </q-page>
</template>

<script>
import Menu from '@cmp/Menu'
export default {
  name: 'Stats',
  components: {
    Menu
  }
}
</script>

<style></style>
