<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row">
        <div class="col-6">
          <div>
            <Menu></Menu>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-center q-ma-xl">
      <div class="q-pa-md training">
        <div id="hand-counter">HAND {{ handCount }}</div>
        <div class="table-browser-wrapper">
          <div class="pot-area-wrapper">
            <div class="full-width row wrap justify-center items-center">
              <PokerChip
                v-for="(chip, index) in onlyNonZeroChips"
                :key="index + ':' + chip"
                chipsize="50"
                :chipvalue="chip[1]"
                :chipcount="chip[0]"
              />
            </div>
          </div>
          <img class="table-browser" src="statics/browser/Table-Browser.svg" />
          <PokerPlayer
            v-for="(player, index) in game.allPlayers"
            :key="index + ':' + player.idx"
            :player="player"
          />
        </div>
      </div>
      <div class="button-wrapper">
        <q-btn
          :disabled="!backButtonVisible"
          rounded
          color="primary"
          class="button-back"
          icon="navigate_before"
          @click="setPreviousPosition()"
        />
        <q-btn
          :disabled="!actionButtonVisible"
          class="button-browser"
          label="FOLD"
          rounded
          @click="setNextPosition('F')"
        />
        <q-btn
          :disabled="!actionButtonVisible"
          class="button-browser call"
          label="CALL"
          rounded
          @click="setNextPosition('C')"
        />
        <q-btn
          :disabled="!actionButtonVisible"
          class="button-browser raise"
          label="RAISE 50%"
          rounded
          @click="setNextPosition('R50')"
        />
        <q-btn
          :disabled="!actionButtonVisible"
          class="button-browser raise"
          label="RAISE 100%"
          rounded
          @click="setNextPosition('R100')"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import TrainingMixins from '@cmp/mixins/trainingSettings'
import { mapGetters, mapState } from 'vuex'
import PokerPlayer from '@cmp/PokerPlayer'
import Menu from '@cmp/Menu'
import PokerChip from '@cmp/PokerChip'
import { pokerGame } from '@cmp/mixins/pokerEngine'

export default {
  name: 'Training',
  components: { PokerPlayer, PokerChip, Menu },
  mixins: [TrainingMixins],
  data() {
    return {
      game: null
    }
  },
  computed: {
    ...mapState('main', ['trainingSettings']),
    ...mapGetters('main', ['chipValues', 'gameSituation']),
    handCount() {
      return this.game.gameStory.length + '/' + this.trainingSettings.hands
    },
    actionButtonVisible() {
      return this.game.gameStory.length < this.trainingSettings.hands
    },
    backButtonVisible() {
      return this.game.gameStory.length > 0
    }
  },
  created: function() {
    this.game = new pokerGame()
    this.game.initGame(6, 200, this.trainingSettings.position, 0.5, 1)
  },
  methods: {
    setPreviousPosition: function() {
      this.game.revertAction()
    },
    setNextPosition: function(action) {
      if (action == 'F') {
        this.game.actionFold()
      }
      if (action == 'R50') {
        this.game.actionRaise50()
      }
      if (action == 'R100') {
        this.game.actionRaise100()
      }
      if (action == 'C') {
        this.game.actionCall()
      }
      if (action == 'A') {
        this.game.actionAllin()
      }
    }
  }
}
</script>

<style>
.training .player-wrapper-tc {
  top: -80px;
}
.training .player-wrapper-bl .player-bet {
  left: 250px;
}

.training .player-wrapper-tl .player-bet {
  left: 250px;
}

.training .player-wrapper-tc .player-bet {
  left: 80px;
  top: 200px;
}
.training .player-wrapper-bc .player-bet {
  top: -50px;
  left: 100px;
}
.button-wrapper .button-back {
  float: left;
  margin-left: 250px;
}
.button-browser {
  width: 160px;
  margin-right: 10px;
}
.pot-area-wrapper {
  display: flex;
  position: absolute;
  width: 80%;
  height: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.table-browser {
  margin: 6rem 0;
  max-width: 777px;
  margin-bottom: 0;
}

.button-wrapper {
  position: absolute;
  bottom: 30px;
  text-align: right;
  width: 100%;
  right: 100px;
}

#hand-counter {
  position: absolute;
  top: 50px;
  right: 100px;
  background-color: #ececec;
  width: 221px;
  height: 43px;
  font-size: 20px;
  text-align: center;
  padding: 6px;
  font-family: 'RobotoMedium';
  border-radius: 3px;
}
.button-training-scenario {
  font-family: 'Roboto';
  color: #001437;
  width: 206px;
  font-size: 22px;
  margin: 0 53.5px;
}
.button-training-scenario.active {
  background-color: #001437;
  color: #fff;
}
.select-training-hands,
.select-training-position,
.select-training-scenario {
  color: #f00;
  font-family: 'RobotoMedium';
  font-size: 22px;
  width: 206px;
  margin: 0 33px;
}
.training-selected-option {
  color: #f00 !important;
}
.select-training-scenario {
  width: 275px;
}
body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-focus-helper:before,
body.desktop .q-focus-helper:after {
  background: #d6e5ff;
  color: #f00;
}
label.label-training {
  color: #f00;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.q-virtual-scroll__content .q-item__label {
  color: #f00 !important;
  font-size: 22px;
  text-align: center;
}
.button-training-start {
  background: rgb(255, 5, 0);
  background: -moz-linear-gradient(270deg, rgba(255, 5, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  font-size: 22px;
  color: #fff;
  text-transform: none;
  width: 275px;
  font-family: 'RobotoMedium';
}
.button-training-resume {
  background: rgb(0, 150, 255);
  background: -moz-linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  font-size: 22px;
  color: #fff;
  text-transform: none;
  width: 275px;
  font-family: 'RobotoMedium';
}
</style>
