<template>
  <q-page>
    <div class="q-pa-md">
      <div class="row">
        <div class="col-6">
          <div>
            <Menu></Menu>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-center q-ma-xl">
      <div class="fit row wrap justify-center items-start content-start">
        <div class="col-6 self-start text-right">
          <q-btn
            v-if="gameSituation == 'preflop'"
            class="button-training-scenario active"
            label="Preflop"
            unelevated
            rounded
          />
          <q-btn
            v-else
            class="button-training-scenario"
            label="Preflop"
            outline
            rounded
            @click="toggleSituation('preflop')"
          />
        </div>
        <div class="col-6 self-start">
          <q-btn
            v-if="gameSituation == 'flop'"
            class="button-training-scenario active"
            label="Flop"
            unelevated
            rounded
          />
          <q-btn
            v-else
            class="button-training-scenario"
            label="Flop"
            outline
            rounded
            @click="toggleSituation('flop')"
          />
        </div>
      </div>
      <div class="fit row wrap justify-center items-start content-start">
        <div class="text-center">
          <label class="label-training">Hands</label>
          <q-select
            v-model="trainingSettings.hands"
            outlined
            color="grey-6"
            dropdown-icon="keyboard_arrow_down"
            options-selected-class="text-red"
            bg-color="white"
            :options="getHandsOptions()"
            class="select-training-hands"
          />
        </div>
        <div class="text-center">
          <label class="label-training">Scenario</label>
          <q-select
            v-model="trainingSettings.scenario"
            outlined
            color="grey-6"
            standout="bg-white text-red"
            dropdown-icon="keyboard_arrow_down"
            options-selected-class="text-red"
            bg-color="white"
            :options="getScenarioOptions()"
            class="select-training-scenario"
          />
        </div>
        <div class="text-center">
          <label class="label-training">Position</label>
          <q-select
            v-model="trainingSettings.position"
            outlined
            color="grey-6"
            options-selected-class="text-red"
            dropdown-icon="keyboard_arrow_down"
            :options="getPositionOptions()"
            bg-color="white"
            class="select-training-position"
          />
        </div>
      </div>
      <div class="fit row inline wrap justify-center items-start content-start">
        <div class="col-12 text-center">
          <q-btn
            class="button-training-start q-ma-sm"
            label="Start training"
            unelevated
            rounded
            :disabled="!isFormValid"
            @click="startTraining()"
          />
        </div>
        <div class="col-12 text-center">
          <q-btn class="button-training-resume q-ma-sm" label="Resume training" unelevated rounded />
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import TrainingMixins from '@cmp/mixins/trainingSettings'
import Menu from '@cmp/Menu'
import { mapGetters, mapMutations, mapState } from 'vuex'
const _ = require('lodash')

export default {
  name: 'TrainingSettings',
  components: {
    Menu
  },
  mixins: [TrainingMixins],
  data() {
    return {
      isActive: false,
      flop: true
    }
  },
  computed: {
    ...mapState('main', ['trainingSettings']),
    ...mapGetters('main', ['gameSituation']),
    isFormValid() {
      return (
        _.isString(this.trainingSettings.position) &&
        _.isString(this.trainingSettings.scenario) &&
        _.isString(this.trainingSettings.hands)
      )
    }
  },
  methods: {
    ...mapMutations('main', ['SET_GAMESITUATION', 'setTrainingSettings']),
    toggleSituation(situation, event) {
      this.SET_GAMESITUATION(situation)
      if (event) event.preventDefault()
    },
    startTraining() {
      this.setTrainingSettings(this.trainingSettings)
      this.$router.push({ name: 'trainingGame' })
    }
  }
}
</script>

<style scope>
.button-training-scenario {
  font-family: 'Roboto';
  color: #001437;
  width: 206px;
  font-size: 22px;
  margin: 0 53.5px;
}
.button-training-scenario.active {
  background-color: #001437;
  color: #fff;
}
.select-training-hands,
.select-training-position,
.select-training-scenario {
  color: #f00;
  font-family: 'RobotoMedium';
  font-size: 22px;
  width: 206px;
  margin: 0 33px;
}
.select-training-hands .q-field__native,
.select-training-hands .q-field__prefix,
.select-training-hands .q-field__suffix,
.select-training-position .q-field__native,
.select-training-position .q-field__prefix,
.select-training-position .q-field__suffix,
.select-training-scenario .q-field__native,
.select-training-scenario .q-field__prefix,
.select-training-scenario .q-field__suffix,
.training-selected-option {
  color: #f00 !important;
}
.select-training-scenario {
  width: 275px;
}
body.desktop .q-focusable:focus > .q-focus-helper,
body.desktop .q-manual-focusable--focused > .q-focus-helper,
body.desktop .q-hoverable:hover > .q-focus-helper,
body.desktop .q-focus-helper:before,
body.desktop .q-focus-helper:after {
  background: #d6e5ff;
  color: #f00;
}
label.label-training {
  color: #f00;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.q-virtual-scroll__content .q-item__label {
  color: #f00 !important;
  font-size: 22px;
  text-align: center;
}
.button-training-start {
  background: rgb(255, 5, 0);
  background: -moz-linear-gradient(270deg, rgba(255, 5, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  font-size: 22px;
  color: #fff;
  text-transform: none;
  width: 275px;
  font-family: 'RobotoMedium';
}
.button-training-resume {
  background: rgb(0, 150, 255);
  background: -moz-linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(0, 150, 255, 1) 0%, rgba(0, 70, 255, 1) 100%);
  font-size: 22px;
  color: #fff;
  text-transform: none;
  width: 275px;
  font-family: 'RobotoMedium';
}
</style>
