// app global css
@font-face {
  font-family: 'MartianBThai-Light';
  src: url(./fonts/MartianBThai-Light.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular-webfont.eot');
    src: url('./fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('./fonts/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('./fonts/Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('./fonts/Roboto/Roboto-Medium-webfont.eot');
    src: url('./fonts/Roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto/Roboto-Medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoRegular';
    src: url('./fonts/Roboto/Roboto-Regular-webfont.eot');
    src: url('./fonts/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Roboto/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.left-menu {
  font-family: 'Roboto';
  background-color:#001337;
  text-align: center;
}
.left-menu-item,
.left-menu-label {
  color:#fff;
  }

.left-menu-item:hover,
.left-menu-item:active
.left-menu-item.active {
  background: rgb(255,5,0);
  background: -moz-linear-gradient(90deg, rgba(255,5,0,1) 0%, rgba(255,170,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,170,0,1) 100%);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,170,0,1) 100%);
}

.left-menu-logo,
.left-menu-logo-minimized {
  width:181px;
  height:auto;
  padding-top: 50px;
  padding-bottom: 122px;
 }

.left-menu-logo-minimized {
  width:100%;
  height:auto;
  padding-left: .6rem;
  padding-right: .6rem;
 }

 top-menu-logo,
.top-menu-logo-minimized {
  width:50px;
  height:auto;
  padding-top: 10px;
  padding-bottom: 10px;
 }


 /** TRAINING section **/
 .table-browser-wrapper {
  position: relative;
  text-align: center;
  width: 736px;
}
.table-browser {
  margin: 6rem;
  max-width: 736px;
  margin-bottom: 0;
}

.player-wrapper-bc,
.player-wrapper-br,
.player-wrapper-bl,
.player-wrapper-tl,
.player-wrapper-tc,
.player-wrapper-tr, {
  position: absolute;
  width: 255px;
  height: 160px;
}

.player-wrapper-bc {
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.player-wrapper-br {
  right:-120px;
  bottom: 100px
}
.player-wrapper-tr {
  top: 100px;
  right: -160px;
}
.player-wrapper-tc {
  top:-40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.player-wrapper-tl {
  left:-160px;
  top:100px;
}
.player-wrapper-bl {
  bottom:100px;
  left:-130px;
}

.player-relative-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.player-status-strip {
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background: rgb(100, 145, 255);
  background: -moz-linear-gradient(270deg, rgba(100, 145, 255, 1) 0%, rgba(74, 120, 255, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(100, 145, 255, 1) 0%, rgba(74, 120, 255, 1) 100%);
  background: linear-gradient(270deg, rgba(100, 145, 255, 1) 0%, rgba(74, 120, 255, 1) 100%);
}

.active .player-status-strip  {
  background: rgb(255, 5, 0);
  background: -moz-linear-gradient(270deg, rgba(255, 5, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
  background: linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 170, 0, 1) 100%);
}

.inactive .player-status-strip  {
  background: rgb(102, 135, 201);
  background: -moz-linear-gradient(270deg, rgba(102, 135, 201, 1) 0%, rgba(60, 98, 191, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(102, 135, 201, 1) 0%, rgba(60, 98, 191, 1) 100%);
  background: linear-gradient(270deg, rgba(102, 135, 201, 1) 0%, rgba(60, 98, 191, 1) 100%);
}

.player-name,
.player-points {
  float: left;
  color: #fff;
  font-size: 22px;
  color: #fff;
  font-family: 'RobotoMedium';
  padding: 3px 5px;
}

.inactive .player-name,
.inactive .player-points {
  color: #D5D7D7;
}

.player-points {
  float: right;
}

.button-wrapper {
  margin-top: 20px;
}

.col-11.q-gutter-xs.action-buttons {
  text-align: right;
}

.button-browser {
  background: rgb(211, 225, 240);
  background: -moz-linear-gradient(180deg, rgba(211, 225, 240, 1) 0%, rgba(176, 202, 225, 1) 100%);
  background: -webkit-linear-gradient(
    180deg,
    rgba(211, 225, 240, 1) 0%,
    rgba(176, 202, 225, 1) 100%
  );
  background: linear-gradient(180deg, rgba(211, 225, 240, 1) 0%, rgba(176, 202, 225, 1) 100%);
  font-weight: normal;
  font-size: 13px;
  margin-right: 10px;
  text-transform: none !important
  width: 112px;
  line-height: 13px;
  color: #333
}

.button-browser.call {
  background: rgb(238, 5, 8);
  background: -moz-linear-gradient(180deg, rgba(254,0,1, 1) 0%, rgba(224, 10, 16, 1) 100%);
  background: -webkit-linear-gradient(
    180deg,
    rgba(254,0,1, 1) 0%,
    rgba(224, 10, 16, 1) 100%
  );
  background: linear-gradient(180deg, rgba(254,0,1, 1) 0%, rgba(224, 10, 16, 1) 100%);
  }
.button-browser.raise {
  background: rgb(0, 254, 134);
  background: -moz-linear-gradient(180deg, rgba(0, 254, 134, 1) 0%, rgba(0, 237, 118, 1) 100%);
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 254, 134, 1) 0%,
    rgba(0, 237, 118, 1) 100%
  );
  background: linear-gradient(180deg, rgba(0, 254, 134, 1) 0%, rgba(0, 237, 118, 1) 100%);
  }

.button-browser:hover {
  background: rgb(0, 255, 135);
  background: -moz-linear-gradient(180deg, rgba(165, 184, 210, 1) 0%, rgba(123, 147, 183, 1) 100%);
  background: -webkit-linear-gradient(
    180deg,
    rgba(165, 184, 210, 1) 0%,
    rgba(123, 147, 183, 1) 100%
  );
  background: linear-gradient(180deg, rgba(165, 184, 210, 1) 0%, rgba(123, 147, 183, 1) 100%);
}

.browser-search {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fold_column,
.call_column,
.raise_column,
.allin_column {
  font-family: 'RobotoRegular';
  font-size: 22px !important;
  color: #001437;
  width: 100px;
}
.call_column {
  color: #0046ff;
}
.raise_column {
  color: #ff1e00;
}
.allin_column {
  color: #00ff00
}

.browser-table {
  max-width: 820px;
}
.browser-table.inactive {
  opacity: .1
}
.browser-table .q-table__middle {
  height: auto;
}

.browser-table .q-table__top,
.browser-table .q-table__bottom,
.browser-table thead tr:first-child th {
  position: sticky;
  top: 0;
  background-color: #fff;
  opacity: 1;
  z-index: 1;
}

.browser-table .q-table__top,
.browser-table .q-table__bottom,
.browser-table thead tr:first-child th {
  background-color: #fff;
}
.browser-table  thead tr th {
  position: sticky;
  z-index: 1;
}
.browser-table thead tr th.fold_column,
.browser-table thead tr th.raise_column,
.browser-table thead tr th.call_column {
  text-align: left;
}

.browser-table thead tr:first-child th {
  top: 0;
}
.browser-table.q-table--loading thead tr:last-child th {
  top: 48px;
}

.browser-table tbody tr:hover td,
.browser-table tbody tr:hover th {
    background-color: #fff;
}

.browser-table .q-table td.params,
.browser-table .q-table th.params {
    padding: 7px 4px;
    text-align: center
}

@-webkit-keyframes tc2center {
  from {top: 150px;}
  to {top: 250px;opacity: 0;}
}

@keyframes tc2center {
  from {top: 150px;}
  to {top: 250px;opacity: 0;}
}

@-webkit-keyframes bc2center {
  from {top: 0px;}
  to {top: -160px;opacity: 0;}
}

@keyframes bc2center {
  from {top: 0px;}
  to {top: -160px;opacity: 0;}
}

@-webkit-keyframes bl2center {
  from {left:170px;top:-30px;}
  to {left:350px;top:-95px;opacity: 0;}
}

@keyframes bl2center {
  from {left:170px;top:-30px;}
  to {left:350px;top:-95px;opacity: 0;}
}

@-webkit-keyframes br2center {
  from {left:-80px;top:-30px;}
  to {left:-250px;top:-95px;opacity: 0;}
}

@keyframes br2center {
  from {left:-80px;top:-30px;}
  to {left:-250px;top:-95px;opacity: 0;}
}

@-webkit-keyframes tl2center {
  from {left:170px;top:120px;}
  to {left: 370px;top: 227px;opacity: 0;}
}

@keyframes tl2center {
  from {left:170px;top:120px;}
  to {left: 370px;top: 227px;opacity: 0;}
}

@-webkit-keyframes tr2center {
  from {left:-80px;top:120px;}
  to {left:-250px;top:227px;opacity: 0;}
}

@keyframes tr2center {
  from {left:-80px;top:120px;}
  to {left:-250px;top:227px;opacity: 0;}
}
