<template>
  <div class="actions-wrapper" :style="{ width: 100 / visibleCount + '%' }">
    <div class="grid-action-header">
      <div class="th th-hand">
        <p class="label">
          {{ action.label }}
          <span
            v-show="action.percentage !== null"
            class="percentage"
          >{{ action.percentage }}%</span>
        </p>
      </div>
      <div class="th th-freq">
        <p class="label">Freq.</p>
      </div>
      <div class="th th-ev">
        <p class="label">Ev.</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BrowserGridAction',
  components: {},
  props: {
    action: Object,
    visibleCount: Number
  },
  computed: {
    ...mapGetters('browserGrid', ['visibleActions'])
  }
}
</script>

<style scoped>
.actions-wrapper {
  border-bottom: 1px solid #8b9ca4;
  border-right: 1px solid #8b9ca4;
}
.actions-wrapper:last-child {
  border-right: none;
}
.grid-action-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.grid-action-header > .th {
  width: 33.3%;
  text-align: center;
}
.label {
  margin: 0;
  line-height: 40px;
  font-size: 18px;
  height: 40px;
  color: #8b9ca4;
}
</style>
