/* eslint-disable prettier/prettier */
<template>
  <div class="q-pa-md">
    <div class="q-gutter-xxl" style="position: relative">
      <q-input
        v-model="input"
        rounded
        outlined
        :dense="dense"
        :disable="!isInputEnable"
        :debounce="debounceByState"
        :class="searchInputClass"
      >
        <template v-slot:append>
          <q-btn
            v-show="isMoreVisible"
            round
            flat
            class="searchButton"
            icon="keyboard_arrow_down"
            @click="searchInCategories"
          ></q-btn>
          <q-btn v-show="isLessVisible" round dense flat icon="clear" @click="searchInHands" />
        </template>
      </q-input>
      <div v-show="isCategoryLabelVisible" class="categoryLabelList">
        <q-chip
          v-for="item in selectedCategory"
          :key="item.num"
          removable
          @remove="searchInHands"
        >{{ item.num }} / {{ item.t }} / {{ item.s }} / {{ item.name }} / {{ item.hands }}</q-chip>
      </div>
      <div v-show="isCategoryListVisible" class="scroll categoryList">
        <q-list padding :class="categoryListClass" :disable="!isListEnable">
          <q-item
            v-for="item in categories"
            :key="item.num"
            v-ripple
            clickable
            @click="selectCategory(item)"
          >
            <!--<q-item-section v-if="item.num">{{ item.num }}</q-item-section>-->
            <q-item-section v-if="item.num" side>{{ item.num }}</q-item-section>
            <q-item-section v-if="item.t" side>{{ item.t }}</q-item-section>
            <q-item-section v-if="item.s" side>{{ item.s }}</q-item-section>
            <q-item-section v-if="item.name">{{ item.name }}</q-item-section>
            <q-item-section v-if="item.hands" side>{{ item.hands }}</q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
import BrowserSearchValidatorRK from './mixins/browserSearchValidatorRK'
let validator

export default {
  props: { categorylistdisable: Boolean, searchinputdisable: Boolean },
  data() {
    return {
      availableStates: ['h', 'hc', 'c'],
      state: 'h',
      dense: false,
      loading: false,
      input: '',
      selectedCategory: [],
      categories: [],
      watchIgnore: {
        input: false
      },
      dummyData: [
        { t: 'UP', s: 'DS', desc: 'Connected broadway hands', hands: 'AKQJ-AJT2' },
        { t: 'UP', s: 'DS', desc: 'Connected A-high non-broadway', hands: 'AQ98-A432' },
        { t: 'UP', s: 'DS', desc: 'Disconnected A-high (2-card) broadway', hands: 'AK98-AT32' },
        { t: 'UP', s: 'DS', desc: 'Ragged A-high', hands: 'A984-A632' },
        { t: 'UP', s: 'DS', desc: 'Rundowns', hands: 'KQJT-5432' },
        { t: 'UP', s: 'DS', desc: 'Connected near-broadway', hands: 'KQJ8-QT86' },
        { t: 'UP', s: 'DS', desc: 'Connected 3-low with broadway kicker', hands: 'K987-Q432' },
        { t: 'UP', s: 'DS', desc: 'Connected non-broadway', hands: 'JT96-7432' },
        { t: 'UP', s: 'DS', desc: 'Disconnected K/Q/J-high, 2 card broadway', hands: 'KQ98-JT32' },
        { t: 'UP', s: 'DS', desc: 'Ragged disconnected', hands: 'K984-7532' },
        { t: 'UP', s: 'SS', desc: 'Connected A-high broadway, suited ace', hands: 'AKQJ-AJT2' },
        { t: 'UP', s: 'SS', desc: 'Connected A-high non-broadway, suited ace', hands: 'AQ98-A432' },
        {
          t: 'UP',
          s: 'SS',
          desc: 'Disconnected A-high (2-card) broadway, suited ace',
          hands: 'AK98-AT32'
        },
        { t: 'UP', s: 'SS', desc: 'Ragged A-high, suited ace', hands: 'A984-A632' },
        {
          t: 'UP',
          s: 'SS',

          desc: 'Connected A-high broadway, unsuited ace',
          hands: 'AKQJ-AJT2'
        },
        {
          t: 'UP',
          s: 'SS',
          desc: 'Connected A-high non-broadway, unsuited ace',
          hands: 'AQ98-A432'
        },
        {
          t: 'UP',
          s: 'SS',
          desc: 'Disconnected A-high (2-card) broadway, unsuited ace',
          hands: 'AK98-AT32'
        },
        { t: 'UP', s: 'SS', desc: 'Ragged A-high, unsuited ace', hands: 'A984-A632' },
        { t: 'UP', s: 'SS', desc: 'Rundowns', hands: 'KQJT-5432' },
        { t: 'UP', s: 'SS', desc: 'Connected near-broadway', hands: 'KQJ8-QT86' },
        { t: 'UP', s: 'SS', desc: 'Connected 3-low with broadway kicker', hands: 'K987-Q432' },
        { t: 'UP', s: 'SS', desc: 'Connected non-broadway', hands: 'JT96-7432' },
        { t: 'UP', s: 'SS', desc: 'Disconnected K/Q/J-high, 2 card broadway', hands: 'KQ98-JT32' },
        { t: 'UP', s: 'SS', desc: 'Ragged disconnected', hands: 'K984-7532' },
        { t: 'UP', s: 'RR', desc: 'Connected broadway hands', hands: 'AKQJ-AJT2' },
        { t: 'UP', s: 'RR', desc: 'Connected A-high non-broadway', hands: 'AQ98-A432' },
        { t: 'UP', s: 'RR', desc: 'Disconnected A-high (2-card) broadway', hands: 'AK98-AT32' },
        { t: 'UP', s: 'RR', desc: 'Ragged A-high', hands: 'A984-A632' },
        { t: 'UP', s: 'RR', desc: 'Rundowns', hands: 'KQJT-5432' },
        { t: 'UP', s: 'RR', desc: 'Connected near-broadway', hands: 'KQJ8-QT86' },
        { t: 'UP', s: 'RR', desc: 'Connected 3-low with broadway kicker', hands: 'K987-Q432' },
        { t: 'UP', s: 'RR', desc: 'Connected non-broadway', hands: 'JT96-7432' },
        { t: 'UP', s: 'RR', desc: 'Disconnected K/Q/J-high, 2 card broadway', hands: 'KQ98-JT32' },
        { t: 'UP', s: 'RR', desc: 'Ragged disconnected', hands: 'K984-7532' },
        { t: '1P', s: 'DS', desc: 'AAxx', hands: 'AAKQ-AA32' },
        { t: '1P', s: 'DS', desc: 'A-high broadway pair', hands: 'AKKQ-ATT2' },
        { t: '1P', s: 'DS', desc: 'KKxx-QQxx', hands: 'KKQJ-QQ32' },
        { t: '1P', s: 'DS', desc: 'JJxx-TTxx', hands: 'JJKQ-TT32' },
        { t: '1P', s: 'DS', desc: 'Disconnected A-high pairs w/ broadway', hands: 'AK99-AT22' },
        { t: '1P', s: 'DS', desc: 'A-high mid-low pairs', hands: 'A998-A322' },
        { t: '1P', s: 'DS', desc: 'mid-low pairs w/ broadway, no ace', hands: 'KQ99-JT22' },
        { t: '1P', s: 'DS', desc: 'Connected mid-low pairs', hands: 'Q998-4322' },
        { t: '1P', s: 'DS', desc: 'Disconnected mid-low pairs', hands: 'K998-6322' },
        { t: '1P', s: 'SS', desc: 'AAxx', hands: 'AAKQ-AA32' },
        { t: '1P', s: 'SS', desc: 'A-high broadway pair, suited ace', hands: 'AKKQ-ATT2' },
        { t: '1P', s: 'SS', desc: 'A-high broadway pair, unsuited ace', hands: 'AKKQ-ATT2' },
        { t: '1P', s: 'SS', desc: 'KKxx-QQxx', hands: 'KKQJ-QQ32' },
        { t: '1P', s: 'SS', desc: 'JJxx-TTxx', hands: 'JJKQ-TT32' },
        {
          t: '1P',
          s: 'SS',
          desc: 'Disconnected A-high pairs w/ broadway, suited ace',
          hands: 'AK99-AT22'
        },
        {
          t: '1P',
          s: 'SS',
          desc: 'Disconnected A-high pairs w/ broadway, unsuited ace',
          hands: 'AK99-AT22'
        },
        { t: '1P', s: 'SS', desc: 'A-high mid-low pairs, suited ace', hands: 'A998-A322' },
        { t: '1P', s: 'SS', desc: 'A-high mid-low pairs, unsuited ace', hands: 'A998-A322' },
        { t: '1P', s: 'SS', desc: 'mid-low pairs w/ broadway, no ace', hands: 'KQ99-JT22' },
        { t: '1P', s: 'SS', desc: 'Connected mid-low pairs', hands: 'Q998-4322' },
        { t: '1P', s: 'SS', desc: 'Disconnected mid-low pairs', hands: 'K998-6322' },
        { t: '1P', s: 'RR', desc: 'AAxx', hands: 'AAKQ-AA32' },
        { t: '1P', s: 'RR', desc: 'A-high broadway pair', hands: 'AKKQ-ATT2' },
        { t: '1P', s: 'RR', desc: 'KKxx-QQxx', hands: 'KKQJ-QQ32' },
        { t: '1P', s: 'RR', desc: 'JJxx-TTxx', hands: 'JJKQ-TT32' },
        { t: '1P', s: 'RR', desc: 'Disconnected A-high pairs w/ broadway', hands: 'AK99-AT22' },
        { t: '1P', s: 'RR', desc: 'Disconnected A-high mid-low pairs', hands: 'A998-A322' },
        { t: '1P', s: 'RR', desc: 'mid-low pairs w/ broadway, no ace', hands: 'KQ99-JT22' },
        { t: '1P', s: 'RR', desc: 'Connected mid-low pairs', hands: 'Q998-4322' },
        { t: '1P', s: 'RR', desc: 'Disconnected mid-low pairs, no ace', hands: 'K998-6322' },
        { t: '2P', s: 'DS', desc: 'Doublepaired Aces', hands: 'AAKK-AA22' },
        { t: '2P', s: 'DS', desc: 'KKxx-TTxx', hands: 'KKQQ-TT22' },
        { t: '2P', s: 'DS', desc: 'Connected doublepairs', hands: '9988-3322' },
        { t: '2P', s: 'DS', desc: 'Disconnected doublepairs', hands: '9955-6622' },
        { t: '2P', s: 'SS', desc: 'Doublepaired Aces', hands: 'AAKK-AA22' },
        { t: '2P', s: 'SS', desc: 'KKxx-TTxx', hands: 'KKQQ-TT22' },
        { t: '2P', s: 'SS', desc: 'Connected doublepairs', hands: '9988-3322' },
        { t: '2P', s: 'SS', desc: 'Disconnected doublepairs', hands: '9955-6622' },
        { t: '2P', s: 'RR', desc: 'Doublepaired Aces', hands: 'AAKK-AA22' },
        { t: '2P', s: 'RR', desc: 'KKxx-TTxx', hands: 'KKQQ-TT22' },
        { t: '2P', s: 'RR', desc: 'Connected doublepairs', hands: '9988-3322' },
        { t: '2P', s: 'RR', desc: 'Disconnected doublepairs', hands: '9955-6622' }
      ]
    }
  },
  computed: {
    searchInputClass: function() {
      return {
        'browser-search': true,
        inactive: this.searchinputdisable
      }
    },
    categoryListClass: function() {
      return {
        'rounded-borders': true,
        inactive: this.categorylistdisable
      }
    },
    isInputEnable() {
      return !this.searchinputdisable
    },
    isListEnable() {
      return !this.categorylistdisable
    },
    isInputVisible() {
      return this.availableStates.includes(this.state)
    },
    isMoreVisible() {
      return ['h'].includes(this.state)
    },
    isLessVisible() {
      return ['hc', 'c'].includes(this.state)
    },
    isCategoryListVisible() {
      return ['c'].includes(this.state)
    },
    isCategoryLabelVisible() {
      return ['hc'].includes(this.state)
    },
    isGridVisible() {
      return ['h', 'hc'].includes(this.state)
    },
    debounceByState() {
      return ['c'].includes(this.state) ? 750 : 1750
    }
  },
  watch: {
    input(v) {
      if (this.watchIgnore.input) return
      validator = new BrowserSearchValidatorRK(v)
      if (validator.validate()) {
        /**
         * validator.format() vrati
         * {
         * hand: "upraveny hand - zoradeny aj s farbami"
         * rawhand: "upraveny hand bez farieb"
         * ds: 1/0
         * ss: 1/0
         * rr: 1/0
         * }
         */
        let validatorFormat = validator.format()
        if (this.state == 'h' || this.state == 'hc') this.emitHands(validatorFormat)
        else if (this.state == 'c') this.getCategories(validatorFormat)
      }
    }
  },
  created: function() {
    // add index
    this.dummyData.forEach((val, index, arr) => {
      arr[index] = {
        id: index + 1,
        t: val.t,
        s: val.s,
        desc: val.desc,
        hands: val.hands
      }
    })
  },
  methods: {
    progress() {
      this.loading = true
      setTimeout(() => {
        this.loading = false
      }, 500)
    },
    changeState(newState) {
      if (this.availableStates.indexOf(newState) === -1) {
        return false
      }
      this.state = newState
      this.$emit('stateChanged', this.state)
    },
    searchInCategories() {
      this.categories = []
      this.selectedCategory = []
      this.changeState('c')
      this.getCategories()
    },
    searchInCategoriesAgain() {
      if (this.selectedCategory.length > 0) {
        this.changeState('c')
      }
    },
    searchInHands() {
      this.categories = []
      this.selectedCategory = []
      this.changeState('h')
      this.$emit('categorySelected', this.isCategoryListVisible)
      this.emitHands()
    },
    toggleCategory(c) {
      if (!this.selectedCategory.includes(c)) {
        this.selectedCategory.push(c)
      } else {
        this.selectedCategory = this.selectedCategory.filter(function(ele) {
          return ele != c
        })
      }
    },
    gridParams(validated) {
      let o = {
        rawhand: validated.rawhand,
        ds: validated.ds,
        ss: validated.ss,
        rainbow: validated.rr
      }
      if (this.selectedCategory.length) {
        o.category = this.selectedCategory[0].num
      }
      if (this.isCategoryListVisible) {
        o.grid = false
      } else {
        o.grid = true
      }
      return o
    },
    emitHands(validated) {
      console.log('emitHands')
      if (typeof validated === 'undefined') validated = false
      if (!validated) {
        validator = new BrowserSearchValidatorRK(this.input)
        let isValid = validator.validate()
        console.log(validator)
        if (!isValid) {
          return false
        }
        validated = validator.format()
      }
      this.$emit('searchChanged', this.gridParams(validated))
    },
    selectCategory(c) {
      let that = this
      this.watchIgnore.input = true
      this.input = ''
      setTimeout(() => (that.watchIgnore.input = false), 100)
      this.selectedCategory = [c]
      this.changeState('hc')
      this.emitHands()
    },
    getCategories(validated) {
      this.$emit('categorySelected', this.isCategoryListVisible)
      if (typeof validated === 'undefined') validated = false
      if (!validated) {
        validator = new BrowserSearchValidatorRK(this.input)
        if (!validator.validate()) return false
        validated = validator.format()
      }

      let params = {
        rawhand: validated.rawhand
      }
      let that = this
      let promise = this.$store.dispatch('categories', params)
      promise.then(function(result) {
        that.categories = []
        result.data.forEach((d) => {
          that.categories.push({
            num: d.num,
            name: d.name,
            hands: that.dummyData[d.num - 1]['hands'],
            t: that.dummyData[d.num - 1]['t'],
            s: that.dummyData[d.num - 1]['s']
          })
        })
      })
    },
    inputChange() {
      return this.dummyData.find((val) => {
        return val.hands.search(this.input)
      })
    }
  }
}
</script>

<style scoped>
.categoryList {
  display: block;
  width: 78%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 4px;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
  z-index: 6000;
}

.categoryLabelList {
  display: block;
  padding: 10px;
}

.selected-category {
  background: #d6e5ff;
}

.categorySubmit {
  width: 100%;
  background: rgb(0, 71, 255);
  background: -moz-linear-gradient(270deg, rgba(0, 71, 255, 1) 0%, rgba(0, 150, 255, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(0, 71, 255, 1) 0%, rgba(0, 150, 255, 1) 100%);
  background: linear-gradient(270deg, rgba(0, 71, 255, 1) 0%, rgba(0, 150, 255, 1) 100%);
  color: #fff;
}

.category-label {
  color: rgb(0, 71, 255);
  font-weight: bold;
}
</style>
