<template>
  <div class="actions-wrapper" :style="{ width: 100 / visibleCount + '%' }">
    <div v-for="(row, idx) in action.data" :key="idx" class="grid-action-body">
      <div class="col col-hand" :title="row.hand">
        <CardBadge v-for="(hand, index) in splitHands(row.hand)" :key="index" :cardsuit="hand"></CardBadge>
      </div>
      <div class="col col-freq">{{ formatFreq(row.weight) }}</div>
      <div class="col col-ev">{{ formatEv(row.ev) }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CardBadge from '@cmp/CardBadge'

export default {
  name: 'BrowserGridAction',
  components: {
    CardBadge
  },
  props: {
    action: Object,
    visibleCount: Number
  },
  computed: {
    ...mapGetters('browserGrid', ['visibleActions'])
  },
  methods: {
    formatFreq: (val) => (val > 0 ? (val * 100).toFixed(1) + '%' : ''),
    formatEv: (val) => (val / 2000).toFixed(1),
    splitHands: function(cardSuit) {
      if (cardSuit.length == 8 && cardSuit.indexOf('[') == -1) {
        return cardSuit.match(/.{1,2}(?=(.{2})+(?!.))|.{1,2}$/g).map(function(elem) {
          return elem.replace(/[shdc]$/g, 's')
        })
      }
      // rainbow
      if (cardSuit.length == 4 && cardSuit.indexOf('[') == -1) {
        let colorPosition = ['s', 'h', 'd', 'c']
        return cardSuit.split('').map(function(elem) {
          return elem + colorPosition.pop()
        })
      }
      // [AKQT], A[KQ]T, ...
      if (cardSuit.indexOf('[') >= 0) {
        let res = null
        let regex = null
        let rep = null
        // A[KJ2]
        regex = /^([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}s${p2}h${p3}h${p4}h`
          })
        }
        // [AJ][AJ]
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}s${p2}s${p3}h${p4}h`
          })
        }
        // [943]7
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}s${p2}s${p3}s${p4}h`
          })
        }
        // [AKQT]
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}s${p2}s${p3}s${p4}s`
          })
        }
        if (!res) {
          //[AK]QT
          regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})([AKQJT2-9]{1})$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}s${p2}s${p3}h${p4}d`
            })
          }
        }
        if (!res) {
          // A[KQ]T
          regex = /^([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}s${p2}h${p3}h${p4}d`
            })
          }
        }
        if (!res) {
          //AK[QT]
          regex = /^([AKQJT2-9]{1})([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}s${p2}h${p3}d${p4}d`
            })
          }
        }
        if (rep) {
          return rep.match(/.{1,2}(?=(.{2})+(?!.))|.{1,2}$/g).map(function(elem) {
            return elem
          })
        }
      }
    }
  }
}
</script>

<style scoped>
.actions-wrapper {
  border-right: 1px solid #8b9ca4;
}
.actions-wrapper:last-child {
  border-right: none;
}
.grid-action-body {
  height: 32px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.grid-action-body:hover {
  background: #d6e5ff;
}
.grid-action-body .col {
  width: 33.3%;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  color: #8b9ca4;
  line-height: 31px;
}
</style>
