<template>
  <div class="row">
    <div class="col-12 justify-left q-pa-md">
      <q-input
        v-model="gameScenario.situationText"
        outlined
        readonly
        :dense="dense"
        type="textarea"
      ></q-input>
    </div>
  </div>
</template>
<script>
export default {
  data() {}
}
</script>
<style scoped></style>
