<template>
  <div class="row q-gutter-y-md">
    <div class="col-2 text-right">
      <label class="label-browser-setting">Stakes</label>
    </div>
    <div class="col-3">
      <q-select
        v-model="currentSettings.profile"
        outlined
        class="select-settings"
        dropdown-icon="keyboard_arrow_down"
        :options="getBrowserProfileOptions()"
        hide-bottom-space
        dense
      />
    </div>
    <div class="col-3 text-right">
      <label class="label-browser-setting">Stack size</label>
    </div>
    <div class="col-3">
      <q-select
        v-model="currentSettings.stack"
        outlined
        class="select-settings"
        standout="bg-white"
        dropdown-icon="keyboard_arrow_down"
        :options="getBrowserStackOptions()"
        hide-bottom-space
        dense
      />
    </div>
    <div class="col">
      <q-btn
        label="Apply"
        class="button-browser-start"
        dense
        unelevated
        :disabled="!isFormValid"
        @click="startBrowsing()"
      />
    </div>
  </div>
</template>
<script>
import BrowserSettingsMixins from '../components/mixins/browserSettings'
import { mapGetters, mapMutations } from 'vuex'
const _ = require('lodash')

/**
 * Training settings: Hands, Scenario, Position
 *
 * Profil: (PLO50, PLO500, PLO500), tabuľka profiles
 * Stack: (50,100,150,200), tabuľkas tack. Na začiatku budú mať všeci hráči rovnaký vklad.
 * Number of players: 2 - 6 (dáta sú len pre 6) parameter bude readonly: 6
 */
export default {
  name: 'BrowserSettings',
  mixins: [BrowserSettingsMixins],
  data() {
    return {
      isActive: false,
      flop: true,
      leftDrawerOpen: false,
      leftDrawerMini: false
    }
  },
  computed: {
    ...mapGetters('main', ['browserSettings']),
    isFormValid() {
      return _.isString(this.currentSettings.profile) && _.isNumber(this.currentSettings.stack)
    }
  },
  methods: {
    ...mapMutations('main', ['setBrowserSettings', 'SET_STACK_FORMAT']),
    startBrowsing() {
      this.setBrowserSettings(this.currentSettings)
      this.SET_STACK_FORMAT('bb')
      this.$emit('settingsChanged', this.currentSettings)
    }
  }
}
</script>

<style scope>
.text-right {
  text-align: right;
}
label.label-browser-setting {
  color: #000;
  font-size: 16px;
  width: 120px;
  display: block;
  line-height: 40px;
  text-align: center;
  float: right;
}
.button-browser-start {
  background: rgb(0, 70, 255);
  color: #fff;
  text-transform: none;
  font-family: 'RobotoMedium';
  height: 40px;
  width: 100px;
}
.select-settings {
  width: 120px;
}
</style>
