<template>
  <div class="grid-wrapper">
    <div class="header-wrapper">
      <browser-grid-action-header
        v-for="(action, index) in visibleActions"
        :key="index"
        :action="action"
        :visible-count="visibleActions.length"
      ></browser-grid-action-header>
    </div>
    <infinite-scroll class="grid" @bottom-reached="bottomReachedHandler">
      <browser-grid-action
        v-for="(action, index) in visibleActions"
        :key="index"
        :action="action"
        :visible-count="visibleActions.length"
      ></browser-grid-action>
    </infinite-scroll>
  </div>
</template>

<script>
import BrowserGridAction from '@cmp/BrowserGridAction'
import BrowserGridActionHeader from '@cmp/BrowserGridActionHeader'
import InfiniteScroll from '@cmp/InfiniteScroll'
import { mapGetters } from 'vuex'

export default {
  name: 'BrowserGrid',
  components: {
    BrowserGridAction,
    BrowserGridActionHeader,
    InfiniteScroll
  },
  computed: {
    ...mapGetters('browserGrid', ['visibleActions'])
  },
  methods: {
    bottomReachedHandler() {
      this.$emit('load-more')
    }
  }
}
</script>

<style scoped>
.grid-wrapper {
  border: 1px solid #8b9ca4;
  height: auto;
}
.header-wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between; /* space-between / space-around  */
  padding-right: 23px;
  /* background: #fff; */
}
/* https://stackoverflow.com/a/44612221/2505833 */
.grid {
  width: 100%;
  display: flex;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between; /* space-between / space-around  */
  height: 60vh;
  overflow: auto;
  padding-right: 8px;
}
</style>
