<template>
  <q-badge :class="cardclass()" :label="cardsuit.charAt(0)" />
</template>

<script>
import BadgeGroup from '@cmp/groups/badge'
export default {
  components: {
    ...BadgeGroup
  },
  props: { cardsuit: { type: String, default: 'Ar' } },
  data() {
    return {
      color: 'white'
    }
  },
  methods: {
    cardclass() {
      const regex = /([AKQJT98765432]{1})([srhdbcxyz]{1})/gi
      const matches = regex.exec(this.cardsuit)
      let symbolCard = 'y'
      try {
        symbolCard = matches[2]
      } catch (e) {
        symbolCard = 'y'
      }
      return symbolCard + '_card'
    }
  }
}
</script>

<style scoped>
.s_card,
.r_card,
.h_card,
.d_card,
.b_card,
.c_card,
.w_card,
.x_card,
.y_card,
.z_card {
  font-family: 'RobotoRegular';
  font-size: 13px;
  border-radius: 2px;
  margin-right: 2px;
  padding: 5px 4px;
  width: 15px;
}
.s_card {
  background-color: #3c3c50;
}
.r_card,
.h_card {
  background-color: #f0000a;
}
.b_card,
.d_card {
  background-color: #008cff;
}
.c_card {
  background-color: #09b24d;
}
.w_card {
  background-color: #9182ff;
}
.x_card {
  background-color: #609;
}
.y_card {
  background-color: #ea7500;
}
.z_card {
  background-color: #ffda00;
}
</style>
