<template>
  <q-icon class="card-deck" name="img:statics/cards/Back.svg" />
</template>

<script>
import IconGroup from '@cmp/groups/icon'
export default {
  name: 'CardReverse',
  components: {
    ...IconGroup
  }
}
</script>

<style>
.card-deck {
  display: flex;
  width: 97px;
  height: 126px;
  /*filter: drop-shadow(0px 3px 3px rgba(226, 229, 241, 1));*/
  -webkit-box-shadow: -13px 0px 20px 1px rgba(225, 229, 241, 1);
  -moz-box-shadow: -13px 0px 20px 1px rgba(225, 229, 241, 1);
  box-shadow: -7px 5px 10px -3px rgb(174, 184, 214);
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.card-deck:first-child {
  margin-left: 18px;
  box-shadow: none;
}
.card-deck:not(:first-child) {
  margin-left: -55px;
}

/*.card-deck:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-deck:hover ~ .card-deck {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}*/
</style>
