<template>
  <div @scroll="scrolledMe">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'InfiniteScroll',
  components: {},
  props: {},
  computed: {},
  methods: {
    scrolledMe(e) {
      let element = e.target
      if (element.scrollHeight - element.scrollTop === element.clientHeight) {
        this.$emit('bottom-reached')
      }
    }
  }
}
</script>

<style scoped></style>
