<template>
  <div class="row justify-left no-wrap">
    <img src="statics/PloTrainerHM.svg" class="logo" />
    <q-tabs
      v-model="tab"
      class="text-grey"
      active-color="primary"
      indicator-color="primary"
      narrow-indicator
    >
      <q-route-tab
        name="browser"
        :to="{ name: 'browserDetail' }"
        label="Browser"
        class="route-tab"
      />
      <q-tab label="Strenght Buckets" class="route-tab" />
      <q-tab label="Charts" class="route-tab" />
      <q-route-tab
        name="training"
        :to="{ name: 'trainingSettings' }"
        label="Training"
        class="route-tab"
      />
    </q-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tab: 'browser'
    }
  }
}
</script>

<style>
.logo {
  height: 46px;
  margin-right: 60px;
}
.route-tab {
  margin-right: 30px;
  text-transform: none;
}
.q-tab__label {
  font-size: 16px;
}
</style>
