<template>
  <div class="poker-chip-wrapper">
    <q-icon
      v-for="(n, index) in onlyNonZeroPileChips"
      :key="n.chip + ':' + index"
      class="poker-chip"
      :title="n.amount + 'x'"
      :name="chipSvg(n.chip)"
      :style="{ width: chipsize + 'px', height: chipsize + 'px' }"
    />
    <q-badge v-if="totalvalue > 0" class="player-bet-value">{{ valueFormat(totalvalue) }}</q-badge>
  </div>
</template>
<script>
import IconGroup from '@cmp/groups/icon'
import BadgeGroup from '@cmp/groups/badge'
import { mapState } from 'vuex'
const fs = require('fs')
const _ = require('lodash')

export default {
  name: 'PokerChipPile',
  components: {
    ...IconGroup,
    ...BadgeGroup
  },
  props: {
    totalvalue: { type: Number, default: 0 },
    chipsize: { type: String, default: '' }
  },
  computed: {
    ...mapState('main', ['chipValues']),
    getPileChange: function() {
      let amount = this.totalvalue
      let chips = this.chipValues
      return chips.map((chip) => {
        let amountChip = Math.floor(amount / chip)
        amount -= amountChip * chip
        return { amount: amountChip, chip: chip }
      })
    },
    onlyNonZeroPileChips: function() {
      let chipArr = this.getPileChange
      chipArr.forEach((ch) => {
        if (ch.amount > 1) {
          for (let i = 1; i < ch.amount; i++) {
            chipArr.push({ amount: ch.amount, chip: ch.chip })
          }
        }
      })
      let sortedChipArr = _.sortBy(chipArr, 'chip').reverse()
      return sortedChipArr.filter(function(ch) {
        return ch.amount
      })
    }
  },
  methods: {
    valueFormat: function(val) {
      return parseFloat(val.toFixed(3).toString())
    },
    chipSvg: function(chip) {
      let fixedChip = this.fixChip(chip)
      let path = 'statics/chips/Chips_' + fixedChip + '.svg'
      return 'img:' + path
    },
    fixChip: function(value) {
      let chip = value
      if (chip == '0.25') {
        chip = '25c'
      }
      if (chip == '0.5') {
        chip = '50c'
      }
      return chip
    },
    svgResourceExists: function() {
      return fs.existsSync(this.chipvalue)
    }
  }
}
</script>
<style>
.poker-chip-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.poker-chip {
  transition: 0.4s ease-out;
  position: relative;
  left: 0;
}
.poker-chip:first-child {
  margin-left: 0px;
}
.poker-chip:not(:first-child) {
  margin-top: -35px;
}

/*.poker-chip:hover {
  transform: translateY(-8px);
  transition: 0.4s ease-out;
}

.poker-chip:hover ~ .poker-chip {
  position: relative;
  top: 5px;
  transition: 0.4s ease-out;
}*/

.player-bet-value {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 30px;
}
</style>
