<template>
  <div v-if="player.active && player.show" :class="[wrapperClass, activeClass]">
    <div class="player-bet">
      <PokerChipPile chipsize="30" :totalvalue="playerBet" />
    </div>
    <div class="player-relative-wrapper">
      <CardDeck v-for="hand in splitHands(player.cards)" :key="hand" :cardsuit="hand" />
      <CardReverse v-if="!player.show" />
      <CardReverse v-if="!player.show" />
      <CardReverse v-if="!player.show" />
      <CardReverse v-if="!player.show" />
      <div class="player-status-strip">
        <div class="player-name">{{ player.name }}</div>
        <div class="player-points">{{ playerStack }} {{ playerStackFormat }}</div>
      </div>
    </div>
  </div>
  <div v-else :class="[wrapperClass, activeClass]">
    <div class="player-bet">
      <PokerChipPile chipsize="30" :totalvalue="playerBet" />
    </div>
    <div class="player-relative-wrapper">
      <CardReverse v-if="!player.fold" />
      <CardReverse v-if="!player.fold" />
      <CardReverse v-if="!player.fold" />
      <CardReverse v-if="!player.fold" />
      <div class="player-status-strip">
        <div class="player-name">{{ player.name }}</div>
        <div class="player-points">{{ playerStack }} {{ playerStackFormat }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import CardDeck from '@cmp/CardDeck'
import CardReverse from '@cmp/CardReverse'
import PokerChipPile from '@cmp/PokerChipPile'
import { mapGetters } from 'vuex'

export default {
  components: { CardDeck, CardReverse, PokerChipPile },
  props: {
    player: {
      type: Object,
      default: function() {}
    }
  },
  data() {
    return {
      wrapperClass: 'player-wrapper-' + this.player.position,
      activeClass: this.player.fold ? 'inactive' : this.player.active ? 'active' : ''
      //animateClass: this.player.fold ? this.player.position + '2center' : ''
    }
  },
  computed: {
    ...mapGetters('main', ['stackFormat', 'browserProfile', 'stack']),
    ploStackCoef: function() {
      return (parseInt(this.browserProfile.match(/\d+/g).join([])) * this.stack) / 100
    },
    playerStack: function() {
      return this.stackFormat == 'bb'
        ? this.player.stack
        : (this.player.stack / this.stack) * this.ploStackCoef
    },
    playerStackFormat: function() {
      return this.stackFormat == 'bb' ? 'BB' : '$'
    },
    playerBet: function() {
      return this.stackFormat == 'bb'
        ? this.player.bet
        : (this.player.bet / this.stack) * this.ploStackCoef
    }
  },
  watch: {
    wrapperClass: function() {
      this.wrapperClass = 'player-wrapper-' + this.player.position
    },
    activeClass: function() {
      this.activeClass = this.player.fold ? 'inactive' : this.player.active ? 'active' : ''
    }
    /**animateClass: function() {
      this.player.fold ? this.player.position + '2center' : ''
    }*/
  },
  methods: {
    splitHands: function(cardSuit) {
      if (cardSuit === undefined) {
        return null
      }
      if (cardSuit.length == 8) {
        return cardSuit.match(/.{1,2}(?=(.{2})+(?!.))|.{1,2}$/g).map(function(elem) {
          return elem.replace(/[shdc]$/g, 's')
        })
      }
      if (cardSuit.length == 4) {
        return cardSuit.split('').map(function(elem, i) {
          return i + 's'
        })
      }
    }
  }
}
</script>

<style scoped>
.player-bet {
  height: 25px;
}
.player-wrapper-bc .player-bet {
  position: relative;
  top: -15px;
  left: 70px;
}

.player-wrapper-br .player-bet {
  position: relative;
  left: -50px;
  top: -20px;
}

.player-wrapper-tr .player-bet {
  position: relative;
  left: -80px;
  top: 140px;
}

.player-wrapper-tc .player-bet {
  position: relative;
  left: 70px;
  top: 150px;
}

.player-wrapper-tl .player-bet {
  position: relative;
  left: 180px;
  top: 130px;
}

.player-wrapper-bl .player-bet {
  position: relative;
  left: 170px;
  top: -30px;
}

.player-wrapper-bc .player-bet .poker-chip-wrapper {
  margin-left: 0;
  text-align: center;
}

/** remove animations
.bc2center {
  -webkit-animation: bc2center 2s normal;
  animation: bc2center 2s normal;
  animation-timing-function: ease-out;
}

.br2center {
  -webkit-animation: br2center 2s normal;
  animation: br2center 2s normal;
  animation-timing-function: ease-out;
}

.bl2center {
  -webkit-animation: bl2center 2s normal;
  animation: bl2center 2s normal;
  animation-timing-function: ease-out;
}

.tc2center {
  -webkit-animation: tc2center 2s normal;
  animation: tc2center 2s normal;
  animation-timing-function: ease-out;
}

.tl2center {
  -webkit-animation: tl2center 2s normal;
  animation: tl2center 2s normal;
  animation-timing-function: ease-out;
}

.tr2center {
  -webkit-animation: tr2center 2s normal;
  animation: tr2center 2s normal;
  animation-timing-function: ease-out;
}
**/
</style>
