<template>
  <div class="poker-chip-wrapper">
    <q-icon
      v-for="n in chipcount"
      :key="n"
      class="poker-chip"
      :title="chipcount + 'x'"
      :name="chipSvgSource"
      :style="{ width: chipsize + 'px', height: chipsize + 'px' }"
    />
  </div>
</template>
<script>
import IconGroup from '@cmp/groups/icon'

export default {
  name: 'PokerChip',
  components: {
    ...IconGroup
  },
  props: {
    chipvalue: { type: Number, default: 0 },
    chipsize: { type: String, default: '' },
    chipcount: { type: Number, default: 0 }
  },
  computed: {
    chipSvgSource: function() {
      let fixedChip = this.fixChipSvg
      let path = 'statics/chips/Chips_' + fixedChip + '.svg'
      return 'img:' + path
    },
    fixChipSvg: function() {
      let chip = this.chipvalue
      if (chip == '0.25') {
        chip = '25c'
      }
      if (chip == '0.5') {
        chip = '50c'
      }
      return chip
    }
  },
  methods: {
    svgResourceExists: function() {
      const fs = require('fs')
      return fs.existsSync(this.chipvalue)
    }
  }
}
</script>
<style>
.poker-chip-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.poker-chip {
  transition: 0.4s ease-out;
  position: relative;
  left: 0;
}
.poker-chip:first-child {
  margin-left: 0px;
}
.poker-chip:not(:first-child) {
  margin-top: -35px;
}

/*.poker-chip:hover {
  transform: translateY(-8px);
  transition: 0.4s ease-out;
}

.poker-chip:hover ~ .poker-chip {
  position: relative;
  top: 5px;
  transition: 0.4s ease-out;
}*/
</style>
