<template>
  <div class="q-pa-md">
    <q-virtual-scroll
      type="table"
      class="browser-table-2"
      style="max-height: 580px;"
      :items-size="1000"
      :items-fn="getMoreData"
      :virtual-scroll-slice-size="60"
    >
      <template v-slot:before>
        <thead class="thead-sticky text-left">
          <tr>
            <th v-for="col in visiblecolumns" :key="'1--' + col">{{ col }}</th>
          </tr>
        </thead>
      </template>

      <template v-slot="{ item: row, index }">
        <tr v-for="col in browserdata" :key="index + '-' + col.id">
          <td v-if="visiblecolumns.includes('fold_name')">
            <CardBadge
              v-for="(hand, index) in splitHands(col.fold_name)"
              :key="hand + '-fold' + index"
              :cardsuit="hand"
            ></CardBadge>
          </td>
          <td v-if="visiblecolumns.includes('fold_ev')">{{ col.fold_ev }}</td>
          <td v-if="visiblecolumns.includes('fold_frekv')">{{ col.fold_frekv }}</td>
          <td v-if="visiblecolumns.includes('fold_comb')">{{ col.fold_comb }}</td>
          <td v-if="visiblecolumns.includes('raise_name')">
            <CardBadge
              v-for="(hand, index) in splitHands(col.raise_name)"
              :key="hand + '-raise' + index"
              :cardsuit="hand"
            ></CardBadge>
          </td>
          <td v-if="visiblecolumns.includes('raise_ev')">{{ col.raise_ev }}</td>
          <td v-if="visiblecolumns.includes('raise_frekv')">{{ col.raise_frekv }}</td>
          <td v-if="visiblecolumns.includes('raise_comb')">{{ col.raise_comb }}</td>
          <td v-if="visiblecolumns.includes('call_name')">
            <CardBadge
              v-for="(hand, index) in splitHands(col.call_name)"
              :key="hand + '-call' + index"
              :cardsuit="hand"
            ></CardBadge>
          </td>
          <td v-if="visiblecolumns.includes('call_ev')">{{ col.call_ev }}</td>
          <td v-if="visiblecolumns.includes('call_frekv')">{{ col.call_frekv }}</td>
          <td v-if="visiblecolumns.includes('call_comb')">{{ col.call_comb }}</td>
        </tr>
      </template>
    </q-virtual-scroll>
  </div>
</template>

<script>
import CardBadge from '../components/CardBadge'
import TableGroup from '../components/groups/table'
import { mapState } from 'vuex'

export default {
  name: 'BrowseScroller',
  components: {
    ...TableGroup,
    CardBadge
  },
  data() {
    return {
      dataSent: false,
      pagination: {
        rowsPerPage: 0,
        currentHands: {
          fold: 0,
          call: 0,
          raise50: 0,
          raise100: 0
        },
        page: 0,
        situationId: 0,
        rowsNumber: 0
      }
    }
  },
  computed: {
    ...mapState('main', ['browsercolumns', 'browserdata', 'browserdatadefault', 'visiblecolumns'])
  },
  methods: {
    getMoreData: function(from, size) {
      console.log('Get more data')
      console.log(from)
      console.log(size)
      //if (from == 0) {
      return this.browserdata.slice(from, size)
      /*} else {
        let bs = this.$store.state.main.browserSettings
        let situationKey = this.$store.state.main.gameScenario.situationKey
        let promise = this.$store.dispatch('situations', {
          preflop_code: situationKey,
          players_cnt: bs.numberOfPlayers,
          profile: bs.profile,
          stack: bs.stack,
          showZeroRows: this.showZeroRows,
          page: this.pagination.page,
          currentHands: this.pagination.currentHands,
          situationId: this.pagination.situationId
        })
        let that = this
        promise.then(function(result) {
          that.pagination.page += 77
          that.setBrowserMore(result)
        })
        return this.browserdata.slice(from, size)
      }*/
    },
    splitHands: function(cardSuit) {
      if (cardSuit.length == 8 && cardSuit.indexOf('[') == -1) {
        return cardSuit.match(/.{1,2}(?=(.{2})+(?!.))|.{1,2}$/g).map(function(elem) {
          return elem.replace(/[shdc]$/g, 's')
        })
      }
      if (cardSuit.length == 4 && cardSuit.indexOf('[') == -1) {
        return cardSuit.split('').map(function(elem) {
          return elem + 'x'
        })
      }
      // [AKQT], A[KQ]T, ...
      if (cardSuit.indexOf('[') >= 0) {
        let res = null
        let regex = null
        let rep = null
        // A[KJ2]
        regex = /^([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}x${p2}y${p3}y${p4}y`
          })
        }
        // [AJ][AJ]
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}x${p2}x${p3}y${p4}y`
          })
        }
        // [943]7
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}x${p2}x${p3}x${p4}y`
          })
        }
        // [AKQT]
        regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
        res = cardSuit.match(regex)
        if (res) {
          rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
            return `${p1}x${p2}x${p3}x${p4}x`
          })
        }
        if (!res) {
          //[AK]QT
          regex = /^\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})([AKQJT2-9]{1})$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}x${p2}x${p3}y${p4}z`
            })
          }
        }
        if (!res) {
          // A[KQ]T
          regex = /^([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]([AKQJT2-9]{1})$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}x${p2}y${p3}y${p4}z`
            })
          }
        }
        if (!res) {
          //AK[QT]
          regex = /^([AKQJT2-9]{1})([AKQJT2-9]{1})\[([AKQJT2-9]{1})([AKQJT2-9]{1})\]$/gi
          res = cardSuit.match(regex)
          if (res) {
            rep = cardSuit.replace(regex, function(match, p1, p2, p3, p4) {
              return `${p1}x${p2}y${p3}z${p4}z`
            })
          }
        }
        if (rep) {
          return rep.match(/.{1,2}(?=(.{2})+(?!.))|.{1,2}$/g).map(function(elem) {
            return elem
          })
        }
      }
    },
    setBrowserData: function(dataSource) {
      this.$store.commit('main/SET_BROWSERDATA', dataSource)
    },
    getMore(success) {
      console.log('getMore called')
      if (!this.pagination.page) {
        setTimeout(function() {
          success()
        }, 500)
        return false
      }
      let bs = this.$store.state.main.browserSettings
      let situationKey = this.$store.state.main.gameScenario.situationKey
      let promise = this.$store.dispatch('situations', {
        preflop_code: situationKey,
        players_cnt: bs.numberOfPlayers,
        profile: bs.profile,
        stack: bs.stack,
        showZeroRows: this.showZeroRows,
        page: this.pagination.page,
        currentHands: this.pagination.currentHands,
        situationId: this.pagination.situationId
      })
      let that = this
      promise.then(function(result) {
        that.pagination.page += 20
        if (that.setBrowserMore(result)) success()
      })
    },
    setBrowserMore: function(data) {
      let maxRows = 0
      let row = []
      let keys = { fold: null, call: null, raise: null }
      for (let i in data) {
        let type = data[i].data
        console.log('setBrowserMore type', type)
        if (typeof type === 'undefined' || typeof type[0] === 'undefined') {
          continue
        }
        if (type[0].action == 'FOLD') keys.fold = i
        if (type[0].action == 'CALL') keys.call = i
        if (type[0].action == 'RAISE50') keys.raise = i
        else if (type[0].action == 'RAISE100') keys.raise = i
        maxRows = Math.max(maxRows, type.length)
      }
      console.log('setBrowserMore', maxRows)
      for (let i = 0; i < maxRows; i++) {
        row.push({
          id: this.pagination.page - 20 + i,
          fold_name:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].hand
              : '',
          fold_frekv:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].weight
              : '',
          fold_ev:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].ev
              : '',
          fold_comb:
            keys.fold != null &&
            typeof data[keys.fold].data !== 'undefined' &&
            typeof data[keys.fold].data[i] !== 'undefined'
              ? data[keys.fold].data[i].combinations
              : '',
          call_name:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].hand
              : '',
          call_frekv:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].weight
              : '',
          call_ev:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].ev
              : '',
          call_comb:
            keys.call != null &&
            typeof data[keys.call].data !== 'undefined' &&
            typeof data[keys.call].data[i] !== 'undefined'
              ? data[keys.call].data[i].combinations
              : '',
          raise_name:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].hand
              : '',
          raise_frekv:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].weight
              : '',
          raise_ev:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].ev
              : '',
          raise_comb:
            keys.raise != null &&
            typeof data[keys.raise].data !== 'undefined' &&
            typeof data[keys.raise].data[i] !== 'undefined'
              ? data[keys.raise].data[i].combinations
              : ''
        })
      }

      this.$store.commit('main/SET_BROWSER_MORE', row)
      return true
    }
  }
}
</script>

<style>
.thead-sticky tr > *,
.tfoot-sticky tr > * {
  position: sticky;
  opacity: 1;
  z-index: 1;
  background-color: #fff;
}

.thead-sticky tr:last-child > * {
  top: 0;
}

.tfoot-sticky tr:first-child > * {
  bottom: 0;
}
</style>
