<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'PokerLayout',
  data() {
    return {
      leftDrawerOpen: true,
      leftDrawerMini: true
    }
  },
  methods: {
    openURL
  }
}
</script>

<style scoped>
.logo-wrapper {
  position: relative;
}
.software-version {
  position: absolute;
  bottom: 127px;
  right: 53px;
  color: #ccc;
  font-size: 10px;
}
</style>
